{% extends "base.html" %}
{% block title %} Сайт общежития №2 (ФИВТ) {% endblock %}
{% block main_active %} class = "active" {% endblock %}
{% block custom_scripts %}<link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">{% endblock %}
{% block content %}
        <div class="row well">
			<h3 class="event-name">Посвят</h3>
		</div>
		<div class = "row">
			<div class = "col-md-8">
				<button class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Изменить</button>
				<div class="section">
					<h5 class="section-name">Информация</h5>
					<hr class="just-a-line"></hr>
					<div class = "row">
						<div class = "col-md-6">
							<span class="param">Создатель:</span> <a href="#" class = "pull-right">Мария Залевская</a><br>
							<span class="param">Ответственный: <a href="#" class = "pull-right">Надежда Меркурьева</a>
						</div>
						<div class = "col-md-6">
							<span class="param">Cтатус:</span><span class="label label-success pull-right">Проведено</span><br>
							<span class="param">Дата проведения:</span> <i class = "pull-right">13.10.2015</i><br>
							<span class="param">Дата создания:</span> <i class = "pull-right">01.09.2015</i><br>
						</div>
					</div>
				</div>
				<div class="section">
					<h5 class="section-name">Описание</h5>
					<hr class="just-a-line"></hr>
					<span class = "description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at varius tortor, in vulputate dolor. Quisque eu ultricies enim. Aliquam ut ligula nunc. Mauris commodo tellus id eros consectetur volutpat. Nunc varius a leo quis lobortis. Proin tristique pretium sagittis. Phasellus eleifend arcu leo. Sed a libero sollicitudin diam finibus dictum. Vivamus fermentum varius tellus vitae tempus. Praesent accumsan sapien eget lacus semper accumsan. Donec sit amet vestibulum ligula. Suspendisse aliquet lacus et felis eleifend iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis imperdiet eros, non sodales purus tempor eget. Nulla a metus feugiat, bibendum felis ut, suscipit nulla.</span>
				</div>
				<div class = "section">
					<h5 class="section-name">Задачи</h5>
					<hr class="just-a-line"></hr>
					<table class = "table">
						<tr>
							<td><a href="#">#12</a></td>
							<td>Купить шары</td>
							<td><a href="#">Максим Мавлютов</a></td>
							<td><span class="label label-success pull-right">Готово</span></td>
						</tr>
						<tr>
							<td><a href="#">#14</a></td>
							<td>Выдрессировать первокуров</td>
							<td><a href="#">Александр Халяпов</a></td>
							<td><span class="label label-warning pull-right">В процессе</span></td>
						</tr>
						<tr>
							<td><a href="#">#17</a></td>
							<td><p class="event-urgent">Купить коньяк КЗшникам</p></td>
							<td><a href="#" class="not-assigned">Не назначено</a></td>
							<td><span class="label label-default pull-right">Не начато</span></td>
						</tr>
					</table>
					
				</div>
			</div>
			<div class = "col-md-4">
			</div>
		</div>
	
	
			
			

{% endblock %}