{% extends "base.html" %}

{% block title %} Стиралка {% endblock %}

{% block washing_active %} class = "active" {% endblock %}

{% block content %}
    <style>
        .day{
            {% if perms.accounts.in_charge_of_washing %}
                cursor:pointer;
            {% endif %}
        }
        .status0{/*blocked (grey)*/
            background-color:#B4B4B4;
            {% if perms.accounts.in_charge_of_washing %}
                cursor:pointer;
            {% endif %}
        }
        td.status1{/*free (green)*/
            background-color: #59B259;
            {% if user.is_authenticated %}
                {% if user.get_profile.is_activated %}
            cursor:pointer;
                {% endif %}
            {% endif %}
        }
        td.status2{/*bought (red)*/
            background-color:#D14741;
            {% if perms.accounts.in_charge_of_washing %}
                cursor:pointer;
            {% endif %}
        }
        td.status3{/*your (blue)*/
            background-color:#44AAC8;
            cursor:pointer;
        }
    </style>
    <div class = "container">
        <div class="page-header">
			<h1>Стиралка</h1>
		</div>

        <table id="washingtable" class="table table-bordered">
            <tr>
                <th style="text-align: center;" width="100">Время</th>
                {% for machine in machines %}
                    <th style="text-align: center;">{{machine}}</th>
                {% endfor %}
            </tr>
            {% for day, intervals in schedule.items %}
                <tr>
                    <th colspan="3" style="text-align: center; vertical-align: middle;">{{day}}</th>
                </tr>
                {% for interval, records in intervals.items %}
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">{{ interval }}</th>
                        {% for machine, status in records.items %}
                            {% if status == 'OK' %}
                            <td class="status1"></td>
                            {% elif status == 'BUSY' %}
                            <td class="status2"></td>
                            {% elif status == 'DISABLE' %}
                            <td class="status0"></td>
                            {% elif status == 'YOURS' %}
                            <td class="status3"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}

        </table>

        <center><a href="#" data-toggle="modal" data-target="#form-modal">Ответственные за стиралку</a></center><br>
        <div class="modal" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">Ответственные за стиралку</div>
                    <div id="form-modal-body" class="modal-body">
                        {% for user in charge_washing %}
                            {{ user.get_full_name }}, комната {{ user.profile.room_number }}<br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
