{% extends "base.html" %}
{% load static from staticfiles %}
{% load user_tags %}
{% block title %} Стиралка {% endblock %}
{% block washing_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/washing.js' %}" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>
	<link rel="stylesheet" href="{% static 'css/washing-gym.css' %}">
{% endblock %}
{% block content %}
    <style>
        td.status0{/*blocked (grey)*/
            background-color:#B4B4B4;
            text-align: center;
        }
        td.status1{/*free (green)*/
            background-color: #59B259;
            text-align: center;
            {% if user.is_authenticated and not user.black_list_record.is_blocked %}
                cursor: pointer;
            {% endif %}
        }
        td.status2{/*bought (red)*/
            text-align: center;
            background-color:#D14741;
        }
        td.status3{/*your (blue)*/
            text-align: center;
            background-color:#44AAC8;
            {% if user.is_authenticated %}
                cursor: pointer;
            {% endif %}
        }
        td {
            height: 40px;
            width: 100px;
        }
        @media (max-width: 768px) {
            td{
                font-size:12px;
                height: 30px;
            }
            th{
                font-size:13px;
            }
        }
}

    </style>
    <form method="post" class="form-inline">
    {% csrf_token %}
    <div class="col-md-10 col-md-offset-1 page-header">
        <!--<input type="hidden" name="activist" value="true">-->
        <h3 style="display:inline-block;">Стиралка</h3><div id="activist_tabs" style="display: none; margin-left: 30px;">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Выбрать стиралку
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><input type="submit" name="activist" value="Для активистов" id="activist_btn" class="btn btn-default" style="width: 100%"></li>
                <li><input type="submit" name="nonactivist" value="Обычная" class="btn btn-default" style="width: 100%"></li>
              </ul>
            <!--<input type="submit" name="activist" value="Для активистов" id="activist_btn" class="washing_activist_check">
            <input type="submit" name="nonactivist" value="Обычная" class="washing_activist_check">-->
            <!--<a href="#" id="activist_washing_link">Для активистов</a>--> </div>
    </div>
    </form>
	<div class="col-md-10 col-md-offset-1">
    {% if user.is_authenticated and user.black_list_record.is_blocked%}
    <div class="alert alert-danger">
        <p>Вы в чёрном списке стиралки</p>
    </div>
    {% endif %}
    <div id="usual_washing">
    <div class="row">
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    {%comment%}<th width="150" class="text-center">Время</th>{%endcomment%}
                    {% for machine in machines %}
                        <th class="text-center" id="machine_{{ machine.pk }}" price=" {{ machine.parameters.all }}">{{machine.name}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for day, intervals in schedule.items %}
                <tr>
                    {% if user in charge_washing or user.is_superuser %}
                    <th scope="row"
                        style="cursor: pointer;"
                        colspan="{{ machines|length }}"
                        class="text-center btn-open-modal"
                        href="{% url 'washing:block_day' %}"
                        id="{{day| date:'d.m.Y'}}"
                        data-target="#form-modal">
                        {{day| date:"d.m.Y (l)"}}
                    </th>
                    {% else %}
                    <th scope="row"
                        colspan="{{ machines|length|add:'1' }}"
                        class="text-center">
                        {{day| date:"d.m.Y (l)"}}
                    </th>
                    {% endif %}
                </tr>
                {% for interval, records in intervals.items %}
                <tr>
                    {%comment%}<th scope="row" width="150" class="text-center">{{ interval.0|time:"H:i" }}-{{ interval.1|time:"H:i" }}</th>{%endcomment%}
                    {% for machine, record in records.items %}
                    {% if record.0 == 'OK' %}
                        {% if user.is_authenticated and not user.black_list_record.is_blocked%}
                        <td class="status1 btn-open-modal"
                            href="{% url 'washing:create_record'%}"
                            id="{{ machine.pk }} {{ day|date:'d.m.Y' }} {{ interval.0|time:'H:i' }} {{ interval.1|time:'H:i' }} {{ record.1 }}">
                            {% if machine.parameters.all.0.activist %}
                            {{ interval.0|time:'H:i' }} - {{ interval.1|time:'H:i' }}{% endif %}
                        </td>
                        {% else %}
                        <td class="status1">{% if machine.parameters.all.0.activist %}
                            {{ interval.0|time:'H:i' }} - {{ interval.1|time:'H:i' }}{% endif %}</td>
                        {% endif %}
                    {% elif record.0 == 'BUSY' %}
                        <!--<td class="status2 btn-open-modal"
                            href="{% url 'washing:cancel_record'%}"
                            id="{{ machine.pk }} {{ day|date:'d.m.Y' }} {{ interval.0|time:'H:i' }} {{ interval.1|time:'H:i' }} {{ record.1 }}">
                        {% if machine.parameters.all.0.activist %}
                            {{ interval.0|time:'H:i' }} - {{ interval.1|time:'H:i' }}{% endif %}
                        </td>-->
                    <td class="status2">
                        {% if user in charge_washing or user.is_superuser or record.3 %}
                        <center><a class="bgrey" href="{% url 'accounts:profile' pk=record.2.profile.pk%}">{{ record.2.get_full_name }}</a></center>
                        {% endif %}
                    {% if machine.parameters.all.0.activist %}
                            <div>{{ interval.0|time:'H:i' }} - {{ interval.1|time:'H:i' }}</div>{% endif %}
                    {% if user.is_authenticated and user|has_group:"Ответственные за активистов" %}
                    <input name="cancel_activ" id="cancel_activ_{{ record.2.profile.pk }} {{ machine.pk }} {{ day|date:'d.m.Y' }} {{ interval.0|time:'H:i' }} {{ interval.1|time:'H:i' }} {{ record.1 }}"
                           class="btn btn-warning" style="width: 80px;" type="button" value="Отмена"/></td>
                        {% endif %}
                    {% elif record.0 == 'DISABLE' %}
                    <td class="status0"></td>
                    {% elif record.0 == 'YOURS' %}
                        {% if user.is_authenticated and day != current %}
                        <td class="status3 btn-open-modal"
                            href="{% url 'washing:cancel_record'%}"
                            id="{{ machine.pk }} {{ day|date:'d.m.Y' }} {{ interval.0|time:'H:i' }} {{ interval.1|time:'H:i' }} {{ record.1 }}">
                        {% if machine.parameters.all.0.activist %}
                            {{ interval.0|time:'H:i' }} - {{ interval.1|time:'H:i' }}{% endif %}
                        </td>
                        {% else %}
                        <td class="status3">{% if machine.parameters.all.0.activist %}
                            {{ interval.0|time:'H:i' }} - {{ interval.1|time:'H:i' }}{% endif %}</td>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>


    <center><a href="#" data-toggle="modal" data-target="#responsible-modal">Ответственные за стиралку</a></center><br>
    <div class="modal" id="responsible-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h3>Ответственные за стиралку</h3></div>
                <div id="form-modal-body" class="modal-body">
                    {% for user in charge_washing %}
                        {{ user.get_full_name }}, комната {{ user.profile.room_number }}<br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <center><a href="" class="spoiler_links" style="font-size: 20px;">Инструкция</a></center><br>
     <div class="washing_instruction jumbotron" id="washing-rules" style="display: none;">
         <p class="washing-instruction-main">
            <h3 style="text-align: center;">Стиралка на 2 этаже<br> Инструкция к действию: </h3>
            <ul style="text-align: left" class="ul-washing-instruction">
                <li>1)Пополнить счёт у ответственных за стиралку. Стоимость бронирования одной машинки на одни сутки — 100 рублей.</li>
                <li>2)Записаться на сайте (в разделе «Стиралка») на свободный промежуток времени (свободный промежуток времени обозначается зеленым цветом), если нужно - на несколько.</li>
                <li>3)Ознакомиться с правилами пользования стиральной комнатой и стиральной машиной.</li>
                <li>4)Получить у ответственного за стиралку ключ от стиральной комнаты (с 19:00 до 23:00 вечером перед днем стирки).</li>
                <li>5)Вовремя подойти в стиралку (она находится в умывалке северного крыла 2 этажа) со своим порошком (должен быть для МАШИННОЙ СТИРКИ) и загрузить вещи. Поставить время стирки такое, чтобы не залезть на чужой промежуток времени.</li>
                <li>6)Вернуть ключ от стиральной машины ответственному, у которого взяли ключ.</li>
            </ul>
            В случае каких-либо непредвиденных ситуаций связаться с ответственными за стиралку.

        </p>
     </div>
    <div class="jumbotron" id="washing-rules">
        <center><h3>Правила пользования стиралкой</h3></center>

        <ol>
            <li>Студентам, пользующимся стиралкой (стиральной машиной), запрещается:
            <ul>
                <li>передавать ключ от стиралки другим лицам, без согласования с ответственным</li>
                <li>использовать стиральную машинку, на которую не были записаны</li>
                <li>оставлять неубранным&nbsp;рассыпанный&nbsp;стиральный порошок</li>
                <li>оставлять пустые коробки&nbsp;из-под порошка, пакеты&nbsp;и т.д.</li>
                <li>использовать при стирке вещества, не предназначенные для автоматических стиральных машин</li>
            </ul>
            </li>
            <li>Студенты, пользующиеся стиралкой, обязаны соблюдать правила эксплуатации машинками:
            <ul>
                <li>Не загружать в машинку более 6 кг. белья</li>
                <li>Использовать стиральную машинку только с тем номером, на которую были записаны</li>
                <li>Не открывать дверцы до разблокировки</li>
                <li>Избегать попадания мелких деталей (монеты, ключи и т.д.) в барабан машинки</li>
                <li>Стирать бюстгалтеры и вещи с мелкими твердыми предметами в специальных мешках для стирки</li>
                <li>Не оставлять белье в машинке после стирки</li>
                <li>Не смешивать белые и цветные вещи</li>
                <li>Оставлять после стирки дверцу машинки открытой</li>
                <li>Забрать высохшие вещи из стиралки в течение суток после окончания своей записи (в<span style="line-height:1.6em">зять ключ в таком случае нужно у того ответственного или заведующего, который выдал ключ по записи)</span></li>
                <li>Оперативно информировать ответственного или заведующего о выявленных неисправностях машинки</li>
            </ul>
            </li>
        </ol>
    </div>
	</div>
{% endblock %}
