{% load static from staticfiles %}
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/typographic.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">

    <script src="{% static 'lib/jquery/js/jquery.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/ajax.csrf.js' %}"></script>
    {% block custom_scripts %} {% endblock %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name='yandex-verification' content='456ed53f77d7ad00' />

    {% include 'autocomplete_light/static.html' %}
</head>
<body style="padding-top:50px;">
	<div class = "navbar navbar-default navbar-fixed-top">
        <div class="container">
		    <div class="navbar-header">
                <a class="navbar-brand fivt-logo" href="/"><img width="90" alt="ФИВТ МФТИ" src="/static/img/logo_fivt.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Общежитие <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'washing:index' %}">Стиралка</a></li>
                            <li><a href="{% url 'main:gym' %}">Тренажерный зал</a></li>
                            <li><a href="{% url 'main:accommodation' %}">Поселение</a></li>
                            <li><a href="{% url 'main:announcements' %}">Объявления</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'activism:index' %}">Актив</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Медиа <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Фото</a></li>
                            <li><a href="#">Видео</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class = "nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> {{user.get_full_name}}
                            {% if user.profile.money != 0 %}
                                ({{user.profile.money}} <img style="margin-top:-3px;" src="{% static 'img/fivt_coin_tiny.png' %}">)
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'accounts:profile' id=user.id %}"><i class="fa fa-cogs"></i> Личный кабинет</a><li>
                            {% if user.is_staff %}
                            <li><a href="/admin/"><i class="fa fa-wrench"></i> Панель управления</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> Выйти</a><li>
                        </ul>
                {% else %}
                    <li {% block signup_active %} {% endblock %}><a href="{% url 'accounts:signup' %}"><i class="fa fa-edit"></i>  Регистрация</a></li>
                    <li {% block login_active %} {% endblock %}><a href="{% url 'accounts:login' %}"><i class="fa fa-sign-in"></i>  Вход</a></li>
                {% endif %}
                </ul>
            </div>
        </div>

	</div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>

	<!--<div class = "navbar navbar-inverse navbar-fixed-bottom" style="min-height:30px">-->
		<!--<div class = "container" style="text-align:center">-->
			<!--<a href="#">Разработчикам</a>-->
			<!--<a href="#">Сообщить об ошибке</a>-->
		<!--</div>-->
		<!--<div class = "container" style="text-align: center;">FIVT site © 2013 </div>-->
	<!--<div>-->
	
	


<!-- Yandex.Metrika counter -->
<!--script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter20887150 = new Ya.Metrika({id:20887150, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20887150" style="position:absolute; left:-9999px;" alt="" /></div></noscript-->
<!-- /Yandex.Metrika counter -->
</body>
</html>