{% extends "base.html" %}

{% block title %} Биржа {% endblock %}

{% block main_active %} class = "active" {% endblock %}

{% block content %}
	<div class = "container" style="height:60px"></div>
	<div class = "container well">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default" >
				<div class="btn btn-danger btn-block panel-heading" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					Panel title
				</div>
				<div class="panel-body collapse" id="collapseExample">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				</div>
			</div>
		</div>
	</div>
{% endblock %}