{% extends "base.html" %}
{% block title %} Обратная связь {% endblock %}
{% block main_active %} class = "active" {% endblock %}
{% block custom_scripts %}{% endblock %}
{% block content %}
    <div class="page-header">
        <h3>Обратная связь</h3>
    </div>
	<span class="col-md-6">
        <p>Илья Гусев</p>
        <p>E-mail: ilya.gusev@phystech.edu</p>
        <p>VK: <a href="http://vk.com/allen_gusev">vk.com/allen_gusev</a></p>
    </span>
    <span class="col-md-6">
        <p>Денис Шапошников</p>
        <p>E-mail: wokin.shopash@gmail.com</p>
        <p>VK: <a href="http://vk.com/wokinshopash">vk.com/wokinshopash</a></p>
    </span>
{% endblock %}