{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %} Тренажерный зал {% endblock %}
{% block main_active %} class = "active" {% endblock %}
{% block custom_scripts %}
	<link rel="stylesheet" href="{% static 'css/washing-gym.css' %}">
{% endblock %}
{% block content %}
	<div class="page-header col-md-10 col-md-offset-1">
        <h3>Тренажерный зал</h3>
    </div>
	
	<div class="col-md-10 col-md-offset-1"> 
	<div class="row">
		<div class="col-md-7 hidden-sm hidden-xs"><center><img width="200" align="bottom" src="/static/img/gym/real.jpg"></img></center></div>
		<div class="col-md-5">
		
			<table class="table table-bordered table-striped">
				<tr><td><center><span style="font-size:20px">Ответственный</span></center></td></tr>
				<tr><td><center>
					Смирнов Александр, комната 408
				</center></td></tr>
				<tr><td><center><span style="font-size:20px">График работы</span></center></td></tr>
				<tr><td><center>Открыт ежедневно с 9:00 до 23:00<br>Женское время:<br>ПН, СР, ПТ: 16:00 - 18:00<br>ВТ, ЧТ: 18:00 - 20:00
				</center></td></tr>
			</table>
		
		</div>
	</div>
	<div class="jumbotron" id="gym-rules">
    <center><h3>Правила посещения тренажерного зала</h3></center>
        <ol>
            <li>Общие требования</li>
                <ul>
                    <li> При посещении тренажерного зала посетитель лично гарантирует, что находится в физическом состоянии, которое позволяет ему заниматься физической культурой, и что физические нагрузки не нанесут вред его здоровью. Настоятельно рекомендуется посетителям пройти медицинский осмотр перед началом посещения тренажёрного зала.</li>
                    <li> Для посещения занятий в тренажерном зале необходимо иметь спортивную форму (спортивные брюки или шорты, футболку), чистую сменную спортивную обувь (кроссовки или кеды). 
                    </li>
                    <li> Во избежание травматизма не разрешается использовать беговую дорожку, босиком, в сланцах, и иной не приспособленной для занятий обуви. </li>
                    <li> При посещении тренажерного зала в первый раз необходимо ознакомиться под роспись с настоящими Правилами, пройти вводный инструктаж  с ответственным за тренажерный зал по правилам использования. </li>
                    <li> Не разрешается использовать во время занятий резко пахнущие парфюмерные и косметические препараты. </li>
                    <li> Посетитель обязан: 
                        <ul>
                            <li>Немедленно сообщать ответственному за спортивный зал обо всех поломках спортивного инвентаря. </li>
                            <li>Убирать за собой  инвентарь (снимать блины со штанг, гантели ставить на гантельную стойку и т.д.). </li>
                        </ul> 
                    </li>
                </ul>
            <li>Режим работы тренажерного зала</li>
                <ul>    
                    <li> Режим работы тренажерного зала устанавливается расписанием.</li>
                    <li> Студсовет в праве ограничить доступ посетителей в тренажерный зал, в случае превышения предельного количества посетителей, находящихся в тренажерном зале (не более 5 человек) или при систематическом нарушении посетителем данных правил.</li>
                </ul>
            <li>Прочие условия</li>
            <ul>
                <li> Посетитель лично несет ответственность за неправильное пользование спортивным оборудованием и инвентарем, что может повлечь за собой получение травм и увечий, а также причинения вреда имуществу тренажерного зала.  </li>
                <li> Студсовет не несет ответственность в случаях:
                ухудшения здоровья посетителей, в результате острых и обострившихся хронических заболеваний, травм, имеющихся у посетителя до начало занятий;
                нарушения правил пользования спортивным оборудованием; 
                противоправных действий 3-х лиц. </li>
                <li> Студсовет за сохранность документов и ценностей, оставленных в раздевалке тренажерного зала, ответственности не несет. </li>
                <li> Ответственный за тренажерный зал обязан контролировать соблюдение посетителями настоящих Правил. </li>
                <li>  Запрещается:
                мусорить в помещениях спортивного комплекса
                проходить в помещения тренажерного зала в верхней одежде и уличной обуви; 
                передвигать тренажеры. 
                посещать тренажерный зал в состоянии алкогольного и наркотического опьянения. 
                курить в помещениях тренажерного зала. 
                вносить в тренажерный зал жевательную резинку, продукты питания, и напитки, а также другие предметы, не относящиеся к занятиям.</li>
                <li>Лица, нарушившие правила пользования тренажерным залом удаляются из тренажерного зала и впредь в тренажерный зал не допускаются.</li>
            </ul>
        </ol>
	</div>

{% endblock %}