{% extends "base.html" %}

{% block title %}Активация пользователей{% endblock %}

{% block profile_active %} class="active" {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Активация пользователей</h1>
    </div>

    {% for u in users %}
            <b>Пользователь: </b> {{ u.get_full_name }} <br>
            <b>Комната: </b> {{ u.get_profile.room_number }}
        <form action="." method="post">
            {% csrf_token %}
            <button class="btn btn-mini btn-success" type="submit">Активировать</button>
            <input name="user_id" type="hidden" value="{{ u.id }}" />
            <input name="activate" type="hidden" value="true" />
        </form>
        <form action="." method="post">
            {% csrf_token %}
            <button class="btn btn-mini btn-danger" type="submit">Заблокировать</button>
            <input name="user_id" type="hidden" value="{{ u.id }}" />
            <input name="activate" type="hidden" value="false" />
        </form>
        <!-- не уверен нужен ли здесь кнопка заблокировать(если она дает права полностью удалить пользователя, то ее надо сделать доступной только admin)-->
        <hr>
    {% endfor %}
{% endblock %}
<!--TODO-all: view-->