{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load has_group %}
{% block title %} Личный кабинет {% endblock %}
{% block profile_active %} class = "active" {% endblock %}
{% block custom_scripts %}<script src="{% static 'js/profile.js' %}"></script>{% endblock %}
{% block content %}
<div class=" row well namezone">
    <h3 class="profile-name nametext"> Профиль: <span class="grey">{{ profile.user.get_full_name }} </span> </h3>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-offset-3 col-md-2">
        <div align="center">
            {% if profile.user.avatar.img %}
                {% thumbnail profile.user.avatar.img "128x128" crop="center" as pic %}
                <a href="{{MEDIA_URL}}{{profile.user.avatar.img.url}}"><img src="{{ pic.url }}"></a>
                {% endthumbnail %}
            {% else %}
            <img width="128" height="128" src="/static/img/standart_avatar.png">
            {% endif %}
            {% if profile.user == request.user %}
            <label class="btn btn-default btn-sm hidden-sm hidden-xs" style="margin-top: 5px;">
                Изменить аватар
                <input id="fileinput" href="{% url 'accounts:change_avatar' pk=profile.user.avatar.pk %}" type="file" style="display: none;"/>
            </label>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div style="vertical-align: middle;">
            <hr class="just-a-line">
            <span id="fullname" class="robotomedium">{{ profile.user.last_name }} {{ profile.user.first_name }} {{ profile.middle_name }}</span>
            <br>
            {% if profile.user|has_group:'Активисты' %}<span id="level" class="grey"></span>
            <br>{% endif %}
            {% if profile.sign and profile.sign != '' %}
                {{ profile.sign }}
            {% elif profile.user|has_group:'Руководящая группа' %}
                Руководящая группа
            {% elif profile.user|has_group:'Активисты' %}
                {{ level.sign }}
            {% else %}
                Пользователь
            {% endif %}
            <br>
            {% if grade %}
            {{ grade }}
            <br>
            {% endif%}
            <hr class="just-a-line">
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class = "col-md-offset-3 col-md-6">
        {% if user|has_group:'Ответственные за финансы' or user.is_superuser or profile.user == request.user %}
        <span class="param">Деньги: <span class="blue">{{profile.money}}</span></span>
        {% if user|has_group:'Ответственные за финансы' or user.is_superuser %}
        <span>
            <a href="{% url 'accounts:add_money' pk=profile.pk %}" class="btn btn-sm btn-default" data-target="#form-modal"><i class="fa fa-plus green"></i></a>
            <a href="{% url 'accounts:remove_money' pk=profile.pk %}" class="btn btn-sm btn-default" data-target="#form-modal"><i class="fa fa-minus red"></i></a>
        </span>
        {% endif %}
        <span class="param">
            <a href="{% url 'accounts:history_money' pk=profile.pk %}" class="btn btn-sm btn-default" data-target="#form-modal"><i class="fa fa-book blue"></i></a>
        </span>
        {% endif %}
        {% if user|has_group:'Ответственные за работу с пользователями' or user.is_superuser %}
            {% if profile.user.is_active %}
            <span class="pull-right"> <a href="{% url 'accounts:activate' pk=profile.user.pk %}" class="btn btn-default btn-sm red"> Заблокировать </a></span>
            {% else %}
            <span class="pull-right"> <a href="{% url 'accounts:activate' pk=profile.user.pk %}" class="btn btn-default btn-sm green"> Активировать </a></span>
            {% endif %}
        {% endif %}
        {% if profile.user == request.user %}
            <span class="pull-right">
                <a href="{% url 'accounts:change_password' pk=profile.user.pk %}"
                   class="btn btn-default btn-sm" data-target="#form-modal">
                    Поменять пароль
                </a>
            </span>
        {% endif %}
    </div>
</div>
<br>
{% if user|has_group:'Ответственные за финансы' or user.is_superuser %}
{% if profile.user|has_group:'Ответственные за финансы' or profile.user.is_superuser %}
<div class="row">
    <div class = "col-md-offset-3 col-md-6">
        <span class="param">Собранные деньги: <span class="blue">{{moderated_money}}</span></span>
        {% if request.user|has_group:'Руководители финансов' or request.user.is_superuser %}
        <a href="{% url 'accounts:approve_money' pk=profile.user.pk %}" class="btn btn-sm btn-default red">Обнулить</a>
        {% endif %}
    </div>
</div>
<br>
{% endif %}
{% endif %}
<div class="row">
    <div class = "tabs">
        <ul class = "nav nav-tabs col-md-offset-3 col-md-6">
            <li class = "active"><a href="#tab-acc" data-toggle="tab">Контакты</a></li>
            {% if can_view_tasks %}
            <li><a href="#tab-tsk" data-toggle="tab">Задачи</a></li>
            {% endif %}
            {% if profile.user == request.user %}
            <li><a href="#tab-gps" data-toggle="tab">Очки роста</a></li>
            {% endif %}
            {% comment %}{% if profile.user|has_group:'Активисты' %}
            <li><a href="#tab-ach" data-toggle="tab">Достижения</a></li>
            {% endif %}
            {% endcomment %}
            {% if profile.user == request.user %}
            <li><a href="#tab-wsh" data-toggle="tab">Стиралка</a></li>
            {% endif %}
        </ul>
        <div class = "tab-content col-md-offset-3 col-md-6">
            <div class = "tab-pane active" id="tab-acc">
                {% if profile.user == request.user %}
                <a style = "margin-bottom:10px;"
                   class = "btn btn-sm btn-default"
                   href="{% url 'accounts:edit_profile' pk=profile.pk %}"
                   data-target="#form-modal"><i class="fa fa-pencil"></i> Изменить</a>
                <br>
                {% endif %}
                <span class="param">Группа:</span> <span class="pull-right">{{ profile.group_number }}</span> <br>
                <span class="param">Общежитие:</span>  <span class="pull-right">{{ profile.hostel }}</span><br>
                <span class="param">Комната:</span>  <span class="pull-right">{{ profile.room_number }}</span><br>
                <span class="param">Телефон:</span> <span class="pull-right"> {{ profile.mobile }}</span> <br>
                {% if profile.user == request.user %}
                {% if plan_room == -1 %}
                <span class="param">План поселения:</span> <span class="pull-right"> Нет в базе </span> <br>
                {% else %}
                <span class="param">Планируемая комната:</span> <span class="pull-right"> {{ plan_room }} </span> <br>
                <span class="param">Планируемые соседи:</span>
                {% for name in neighbours %}
                    <span class="pull-right"> {{name}} </span> <br>
                {% endfor %}
                {% endif %}
                {% endif %}

                {% if vk %}
                <span class="param">VK:</span> <span class="pull-right"> <a href="http://vk.com/id{{ vk }}">{{ vk }} </a></span> <br>
                {% endif %}
                {% if profile.user == request.user %}
                <div>
                <span class="grey" style="vertical-align:bottom;">Добавить соц. сеть:</span>
                <span style="right:inherit;">
                    <a href="{% url 'accounts:social:begin' 'vk-oauth2' %}?next={{ request.path }}">
                        <span class="fa-stack" color="#3b579d">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="{% url 'accounts:social:begin' 'facebook' %}?next={{ request.path }}">
                        <span class="fa-stack" color="#537599">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </span>
                </div>
                {% endif %}
            </div>
            {% if can_view_tasks %}
            <div class="tab-pane" id="tab-tsk">
                {% if task_current|length > 0 %}
                <h5>Текущие задачи</h5>
                <table class = "table usual-letters">
                    {% for task in task_current %}
                        <tr>
                            <td><a href="{% url 'activism:task' pk=task.pk %}">{{ task.name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if task_hours|length > 0 %}
                <h5>Готовые задачи</h5>
                <table class = "table usual-letters">
                    {% for through in task_hours %}
                        <tr>
                            <td><a href="{% url 'activism:task' pk=through.task.pk %}">{{ through.task.name }}</a></td>
                            {% if through.hours %}
                            <td align="right">{{ through.hours|stringformat:'.1f' }} ЧРА
                                {% if through.approved %}
                                    <i class="fa fa-check green"></i>
                                {% else %}
                                    <i class="fa fa-close red"></i>
                                {% endif %}
                            </td>
                            {% else %}
                            <td align="right">Без ЧРА</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if task_responsible|length > 0 %}
                <h5>Контролируемые задачи</h5>
                <table class = "table usual-letters">
                    {% for task in task_responsible %}
                        <tr>
                            <td><a href="{% url 'activism:task' pk=task.pk %}">{{ task.name }}</a></td>
                            <td align="right">
                                {% if task.status == 'closed' %}
                                <span class="label lbl label-success">
                            {% elif task.status == 'resolved' %}
                                <span class="label lbl label-primary">
                            {% elif task.status == 'in_progress' %}
                                <span class="label lbl label-warning">
                            {% elif task.status == 'open' %}
                                <span class="label lbl label-default">
                            {% elif task.status == 'in_labor' %}
                                <span class="label lbl label-danger">
                            {% elif task.status == 'volunteers' %}
                                <span class="label lbl label-info ">
                            {% endif %}
                                    {{ task.get_status_display }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            {% endif %}
            {% comment %}{% if profile.user|has_group:'Активисты' %}
            <div class = "tab-pane" id="tab-ach">
            </div>
            {% endif %}{% endcomment %}
            {% if profile.user == request.user %}
            <div class = "tab-pane" id="tab-wsh">
                <h5>Записи:<h5>
                {% for record in records %}
                    <p>{{ record.machine.name }}, {{ record.datetime_from.date }}, с {{ record.datetime_from.time }} до {{ record.datetime_to.time }} </p>
                {% endfor %}
            </div>
            {% endif %}
            {% if profile.user == request.user %}
            <div class = "tab-pane" id="tab-gps">
                <h5>Очки роста:</h5>
                <table class = "table usual-letters">
                {% for operation in operations %}
                    <tr>
                        <td>
                            {{operation.description}}
                        </td>
                        <td align="right">{{operation.amount|stringformat:'.0f' }}
                            <span style="font-size:10px;">ОР </span>
                        </td>
                    </tr>
                {% endfor %}
                {% if op_for_hours != 0 %}
                    <tr>
                        <td>
                            За ЧРА
                        </td>
                        <td align="right">{{op_for_hours}}
                            <span style="font-size:10px;">ОР </span>
                        </td>
                    </tr>
                {% endif %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}