{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load has_group %}
{% block title %} Личный кабинет {% endblock %}
{% block profile_active %} class = "active" {% endblock %}
{% block custom_scripts %}<script src="{% static 'js/profile.js' %}"></script>{% endblock %}
{% block content %}
<div class=" row well namezone">
    <h3 class="profile-name nametext"> Профиль: <span class="grey">{{ profile.user.get_full_name }} </span> </h3>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-offset-3 col-md-2">
        <div align="center">
            {% if profile.user.avatar.img %}
                {% thumbnail profile.user.avatar.img "128x128" crop="center" as pic %}
                <a href="{{MEDIA_URL}}{{profile.user.avatar.img.url}}"><img src="{{ pic.url }}"></a>
                {% endthumbnail %}
            {% else %}
            <img class="round avatar" src="/static/img/standart_avatar.png">
            {% endif %}
            {% if profile.user == request.user %}
            <label class="btn btn-default btn-sm hidden-sm hidden-xs" style="margin-top: 5px;">
                Изменить аватар
                <input id="fileinput" href="{% url 'accounts:change_avatar' pk=profile.user.avatar.pk %}" type="file" style="display: none;"/>
            </label>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div style="vertical-align: middle;">
            <hr class="just-a-line">
            <span id="fullname" class="robotomedium">{{ profile.user.last_name }} {{ profile.user.first_name }} {{ profile.middle_name }}</span>
            <br>
            {% if profile.user|has_group:'Активисты' %}<span id="level" class="grey">Уровень 2</span>
            <br>{% endif %}
            {% if profile.sign and profile.sign != '' %}
                {{ profile.sign }}
            {% elif profile.user|has_group:'Руководящая группа' %}
                Руководящая группа
            {% elif profile.user|has_group:'Активисты' %}
                Активист
            {% else %}
                Пользователь
            {% endif %}
            <br>
            {% if grade %}
            {{ grade }}
            <br>
            {% endif%}
            <hr class="just-a-line">
        </div>
    </div>
</div>
<br>
{% if user|has_group:'Ответственные за работу с пользователями' or user|has_group:'Ответственные за финансы' or user.is_superuser %}
<div class="row">
    <div class = "col-md-offset-3 col-md-6">
        {% if user|has_group:'Ответственные за финансы' or user.is_superuser %}
        <span class="param">Деньги: {{profile.money}}
            <a href="{% url 'accounts:add_money' pk=profile.pk %}" class="btn btn-sm btn-default" data-target="#form-modal"><i class="fa fa-plus green"></i></a>
            <a href="{% url 'accounts:remove_money' pk=profile.pk %}" class="btn btn-sm btn-default" data-target="#form-modal"><i class="fa fa-minus red"></i></a>
        </span>
        <span class="param">
            <a href="{% url 'accounts:history_money' pk=profile.pk %}" class="btn btn-sm btn-default" data-target="#form-modal"><i class="fa fa-book blue"></i></a>
        </span>
        {% endif %}
        {% if user|has_group:'Ответственные за работу с пользователями' or user.is_superuser %}
            {% if profile.user.is_active %}
            <span class="pull-right"> <a href="{% url 'accounts:activate' pk=profile.user.pk %}" class="btn btn-default red"> Заблокировать </a></span>
            {% else %}
            <span class="pull-right"> <a href="{% url 'accounts:activate' pk=profile.user.pk %}" class="btn btn-default green"> Активировать </a></span>
            {% endif %}
        {% endif %}
    </div>
</div>
<br>
{% endif %}
<div class="row">
    <div class = "tabs">
        <ul class = "nav nav-tabs col-md-offset-3 col-md-6">
            <li class = "active"><a href="#tab-acc" data-toggle="tab">Контакты</a></li>
            {% if profile.user == request.user and profile.user|has_group:'Активисты' %}
            <li><a href="#tab-tsk" data-toggle="tab">Задачи</a></li>
            {% endif %}
            {% if profile.user|has_group:'Активисты' %}
            <li><a href="#tab-ach" data-toggle="tab">Достижения</a></li>
            {% endif %}
            {% if profile.user == request.user %}
            <li><a href="#tab-wsh" data-toggle="tab">Стиралка</a></li>
            {% endif %}
        </ul>
        <div class = "tab-content col-md-offset-3 col-md-6">
            <div class = "tab-pane active" id="tab-acc">
                {% if profile.user == request.user %}
                <a style = "margin-bottom:10px;"
                   class = "btn btn-sm btn-default"
                   href="{% url 'accounts:edit_profile' pk=profile.pk %}"
                   data-target="#form-modal"><i class="fa fa-pencil"></i> Изменить</a>
                <br>
                {% endif %}
                <span class="param">Группа:</span> <span class="pull-right">{{ profile.group_number }}</span> <br>
                <span class="param">Общежитие:</span>  <span class="pull-right">{{ profile.hostel }}</span><br>
                <span class="param">Комната:</span>  <span class="pull-right">{{ profile.room_number }}</span><br>
                <span class="param">Телефон:</span> <span class="pull-right"> {{ profile.mobile }}</span> <br>
                {% if vk %}
                <span class="param">VK:</span> <span class="pull-right"> <a href="http://vk.com/id{{ vk }}">{{ vk }} </a></span> <br>
                {% endif %}
                {% if profile.user == request.user %}
                <div>
                <span class="grey" style="vertical-align:bottom;">Добавить соц. сеть:</span>
                <span style="right:inherit;">
                    <a href="{% url 'accounts:social:begin' 'vk-oauth2' %}?next={{ request.path }}">
                        <span class="fa-stack" color="#3b579d">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="{% url 'accounts:social:begin' 'facebook' %}?next={{ request.path }}">
                        <span class="fa-stack" color="#537599">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </span>
                </div>
                {% endif %}
            </div>
            {% if profile.user == request.user and profile.user|has_group:'Активисты'%}
            <div class="tab-pane" id="tab-tsk">
                <h5>Текущие задачи</h5>
                <table class = "table usual-letters">
                    {% for task in profile.user.task_set.all %}
                        {% if task.status != 'closed' and task.status != 'resolved' %}
                        <tr>
                                <td><a href="{% url 'activism:task' pk=task.pk %}">#{{ task.id }}</a></td>
                                <td>{{ task.name }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <h5>Готовые задачи</h5>
                <table class = "table usual-letters">
                    {% for through in task_hours %}
                        <tr>
                            <td><a href="{% url 'activism:task' pk=through.task.pk %}">#{{ through.task.id }}</a></td>
                            <td>{{ through.task.name }}</td>
                            {% if through.hours %}
                            <td>{{ through.hours|stringformat:'.1f' }} ВЧ
                                {% if through.approved %}
                                    <i class="fa fa-check green"></i>
                                {% else %}
                                    <i class="fa fa-close red"></i>
                                {% endif %}
                            </td>
                            {% else %}
                            <td>Без ВЧ</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if profile.user|has_group:'Активисты' %}
            <div class = "tab-pane" id="tab-ach">
            </div>
            {% endif %}
            {% if profile.user == request.user %}
            <div class = "tab-pane" id="tab-wsh">
                <h5>Записи:<h5>
                {% for record in records %}
                    <p>{{ record.machine.name }}, {{ record.datetime_from.date }}, с {{ record.datetime_from.time }} до {{ record.datetime_to.time }} </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}