{% extends "base.html" %}
{% load add_class %}
{% block signup_active %} class="active" {% endblock %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<center>
    <div class="page-header"><h2 style="text-align: center;">Регистрация</h2></div>
    <div class="alert alert-success">
        Для завершения регистрации свяжитесь с ответственными за пользователей:
        {% for user in charge %}
            <p class="text-center">{{user.get_full_name}}, {{user.profile.mobile}}, {{user.email}}</p>
        {% endfor %}
    </div>
</center>
{% endblock %}