{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %}
{% block main_active %} class = "active" {% endblock %}
{% block custom_scripts %}<script src="{% static 'js/profile.js' %}"></script>{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Личный кабинет</h1>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-4"><div class = "well" align="center"><img class = "round avatar" src="/static/img/standart_avatar.png"></img></div></div>
        <div class="col-md-6"><div class = "well">
            <h2>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h2>
            {% if user.groups.all %}
            <h4>Группы:
                {% for group in user.groups.all %}
                {{ group }};
                {% endfor %}
            </h4>
            {% endif %}
            <h4>Учебная группа: {{ profile.group_number }}</h4>
        </div></div>
    </div>
    <div class="row">
        <div class = "tabs">
            <ul class = "nav nav-tabs">
                <li class = "active"><a href="#tab-acc" data-toggle="tab">Аккаунт</a></li>
                <li><a href="#tab-tsk" data-toggle="tab">Задачи</a></li>
                <li><a href="#tab-ach" data-toggle="tab">Достижения</a></li>
                <li><a href="#tab-wsh" data-toggle="tab">Стиралка</a></li>
            </ul>
            <div class = "tab-content">
                <div class = "tab-pane active" id = "tab-acc">
                    <p><b>Группа:</b> {{ profile.group_number }}</p>
                    <p><b>Общежитие:</b> {{ profile.hostel }}</p>
                    <p><b>Комната:</b> {{ profile.room_number }}</p>
                    <p><b>Телефон:</b> {{ profile.mobile }} </p>
                    <button class = "btn btn-primary"
                            href="{% url 'accounts:edit_profile' id=profile.id %}"
                            data-toggle="modal"
                            data-target="#form-modal">Изменить</button>
                </div>
                <div class = "tab-pane" id = "tab-tsk">
                </div>
                <div class = "tab-pane" id = "tab-ach">
                </div>
                <div class = "tab-pane" id = "tab-wsh">
                    <p><b>Записи:</b></p>
                    {% for record in records %}
                        <p>{{ record.machine.name }}, {{ record.datetime_from.date }}, с {{ record.datetime_from.time }} до {{ record.datetime_to.time }} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% include "modal.html" %}
{% endblock %}