{% extends "base.html" %}
{% load static from staticfiles %}
{% load has_group %}
{% load thumbnail %}
{% block title %} Активисты {% endblock %}
{% block activism_table_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/activism.js' %}"></script>
    <script src="{% static 'js/activism/rating.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/activism.css' %}">
{% endblock %}

{% block content %}
<div class="row well namezone">
    <h3 class="task-name nametext"> Список активистов </h3>
</div>
<div class = "row pagezone">
    <div class="table-responsive div-rating col-md-10 col-md-offset-1">
    <table class="table table-hover table-rating">
        <tr>
            <th class="text-center" colspan="2" >Активист</th>
             {% if can_all %}
            <th class="text-center">ЧРА</th>
            <th class="text-center">Другие ОР</th>
            {% endif %}
            <th class="text-center">Суммарные ОР</th>
        </tr>
    {% for record in records %}
        {% if forloop.counter == 1 %}
        <tr class="rating1">
        {% elif forloop.counter == 2 %}
        <tr class="rating2">
        {% elif forloop.counter == 3 %}
        <tr class="rating3">
        {% else %}
        <tr class="rating_noob">
        {% endif %}
            <td class="table-rating-avatar hidden-xs">
                {% if record.user.avatar.img %}
                    {% thumbnail record.user.avatar.img "48x48" crop="center" as pic %}
                    <a href = "{% url 'accounts:profile' pk=record.user.profile.pk %}"><img src="{{ pic.url }}" class="round"></a>
                    {% endthumbnail %}
                {% endif %}
            </td>
            <td class="table-rating-avatar visible-xs-inline">
                {% if record.user.avatar.img %}
                    {% thumbnail record.user.avatar.img "30x30" crop="center" as pic %}
                    <a href = "{% url 'accounts:profile' pk=record.user.profile.pk %}"><img src="{{ pic.url }}" class="round"></a>
                    {% endthumbnail %}
                {% endif %}
            </td>
            <td nowrap >
                <a href = "{% url 'accounts:profile' pk=record.user.profile.pk %}">{{record.user.last_name}} {{record.user.first_name}}</a>
            </td>
            {% if can_all %}
            <td class="td-small">
                {{record.sum_hours|stringformat:'.2f'}} <a class="expand"><i class="fa fa-caret-down fa-lg hidden-xs"></i></a>
                <table width="100%" class="hidden td-small" style="font-size: 14px;">
                {% for through in record.throughs %}
                        <tr>
                            <td>
                                <a href="{% url 'activism:task' pk=through.task.pk %}">{{through.task.name}}</a>
                            </td>
                            <td align="right">
                                <span>{{ through.hours|stringformat:'.2f' }}</span>
                            </td>
                        </tr>
                {% endfor %}
                 </table>
            </td>
            <td class="td-small">
                {{record.sum_og|stringformat:'.0f'}}<span style="font-size:10px;">ОР</span> <a class="expand"><i class="fa fa-caret-down fa-lg hidden-xs"></i></a>
                <table width="100%" class="hidden td-small" style="font-size: 14px;">
                    {% for operation in record.operations %}
                        <tr>
                            <td>
                                {{operation.description}}
                            </td>
                            <td align="right">{{operation.amount|stringformat:'.0f' }}
                                <span style="font-size:10px;">ОР </span>
                                <a href="{% url 'activism:delete_points' pk=operation.pk %}" class="delete-view">
                                    <i class="fa fa-close red"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr><td align="right" colspan="2">
                        <a href="{% url 'activism:add_points' pk=record.user.pk %}"
                           data-target="#form-modal">
                            <i class="fa fa-plus green"></i>
                        </a>
                    </td></tr>
                </table>
            </td>
            {% endif %}


            <td><table width="100%">
                <tr><td align="center">
                    {% if forloop.counter == 1 %}
                    <span class="rate1">
                    {% elif forloop.counter == 2 %}
                    <span class="rate2">
                    {% elif forloop.counter == 3 %}
                    <span class="rate3">
                    {% else %}
                    {% endif %}
                    {{record.sum_all|stringformat:'.0f'}}</span>
                    <span style="font-size:10px;">ОР</span>
                </td></tr>
                <!--tr><td align="center">
                    <span style="font-size:12px;">({{record.level}})</span>
                </td></tr-->
                </table>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
