{% extends "base.html" %}
{% load static from staticfiles %}
{% load has_group %}
{% load thumbnail %}
{% block title %} Активисты {% endblock %}
{% block activism_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/activism.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/activism.css' %}">
{% endblock %}

{% block content %}
<div class="row well namezone">
    <h3 class="task-name nametext"> Активисты </h3>
</div>
<div class = "row pagezone">
    <table class="table table-bordered">
        <tr>
            <th>Активист</th>
             {% if can_all %}
            <th class="text-center">ЧРА</th>
            <th class="text-center">Другие ОР</th>
            {% endif %}
            <th class="text-center">Суммарные ОР</th>
        </tr>
    {% for record in records %}
        <tr>
            <td style = "padding: 1px 10px;">
                {% if record.user.avatar.img %}
                    {% thumbnail record.user.avatar.img "25x25" crop="center" as pic %}
                    <a href = "{% url 'accounts:profile' pk=record.user.profile.pk %}"><img src="{{ pic.url }}" class="avatar"></a>
                    {% endthumbnail %}
                {% endif %}

                <a href = "{% url 'accounts:profile' pk=record.user.profile.pk %}">{{record.user.last_name}} {{record.user.first_name}} {{record.user.profile.middle_name}}</a>
            </td>

            {% if can_all %}
            <td>
                <table width="100%">
                {% for through in record.throughs %}
                        <tr>
                            <td>
                                <a href="{% url 'activism:task' pk=through.task.pk %}">{{through.task.name}}</a>
                            </td>
                            <td align="right">
                                <span>{{ through.hours|stringformat:'.2f' }}</span>
                                <span style="font-size:10px;">ЧРА</span>
                            </td>
                        </tr>
                {% endfor %}
                    <tr><td>Итог: </td><td align="right">
                        <span class="big-letters blue">{{record.sum_hours|stringformat:'.2f'}}</span>
                        <span style="font-size:10px;">ЧРА</span>
                    </td></tr>
                 </table>
            </td>
            <td>
                <table width="100%">
                    {% for operation in record.operations %}
                        <tr>
                            <td>
                                {{operation.description}}
                            </td>
                            <td align="right">{{operation.amount|stringformat:'.0f' }}
                                <span style="font-size:10px;">ОР </span><a href="{% url 'activism:delete_points' pk=operation.pk %}" class="delete-view"><i class="fa fa-close red"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr><td>Итог: </td><td align="right">
                        <span class="big-letters blue">{{record.sum_og|stringformat:'.0f'}}</span>
                        <span style="font-size:10px;">ОР</span>
                    </td></tr>
                    <tr><td align="right" colspan="2">
                        <a href="{% url 'activism:add_points' pk=record.user.pk %}"
                           data-target="#form-modal">
                            <i class="fa fa-plus green"></i>
                        </a>
                    </td></tr>
                </table>
            </td>
            {% endif %}


            <td><table width="100%">
                <tr><td align="center">
                    <span class="big-letters blue">{{record.sum_all|stringformat:'.0f'}}</span>
                    <span style="font-size:10px;">ОР</span>
                </td></tr>
                </table>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
