<div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Подтверждение</h3>
            </div>
            <div class="modal-body">
                Это приведёт к необратимым изменениям. Вы уверены, что хотите это сделать?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="submit-modal">Да</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>