{% extends "base.html" %}
{% load static from staticfiles %}
{% load has_group %}
{% block title %} Биржа {% endblock %}
{% block main_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <link rel="stylesheet" href="{% static 'css/activism.css' %}">
    <script src="{% static 'js/activism.js' %}"></script>
    <script src="{% static 'js/activism/dashboard.js' %}"></script>
{% endblock %}
{% block content %}

{% if not user|has_group:'Активисты' %}
    <div class="jumbotron robotomedium" align="center">
        <p>Здесь когда-нибудь будет текст, вдохновляющий первокурсников стать активистами. Но так как я не умею писать красивые тексты, пусть это сделает кто-то другой (например, Надя).</p>
        <a class="btn btn-primary" href="{% url 'activism:unlock' %}" style="margin:20px">Я готов!</a>
    </div>
{% else %}
<div class="row well namezone">
    <h3 class="task-name nametext"> Доска активиста </h3>
</div>
<div class = "row pagezone">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default dash-pan">
                <div class="panel-heading"><i class="fa fa-calendar fa-fw" style="margin-right:5px;"></i>&nbsp;Ближайшие мероприятия 
                <span class="pull-right">
                    <a class="grey" role="button" data-toggle="collapse" href="#dash-events" aria-expanded="true" aria-controls="dash-events">
                        <i style="margin-top: 5px;" class="drop-controller fa fa-lg fa-caret-down"></i>
                    </a>
                </span>
                </div>
                <div class="panel-body collapse in" id="dash-events">
                    {% for event in events %}
                        <a class="green" href="{% url 'activism:event' pk=event.pk %}">{{ event.name }}</a><br>
                    {% endfor %}
                    <a class="pull-right" href="{% url 'activism:events' %}">Все <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            
            {% if user|has_group:'Ответственные за волонтёров' %}
            <div class="panel panel-default dash-pan">
                <div class="panel-heading"><i class="fa fa-calendar fa-fw" style="margin-right:5px;"></i>&nbsp;Последние действия 
                <span class="pull-right">
                    <a class="grey" role="button" data-toggle="collapse" href="#dash-events" aria-expanded="true" aria-controls="dash-events">
                        <i style="margin-top: 5px;" class="drop-controller fa fa-lg fa-caret-down"></i>
                    </a>
                </span>
                </div>
                <div class="panel-body collapse in" id="dash-events">
                    <a href="#">#031</a> <span class="grey">by</span> <a href="#">Мария Залевская</a>
                    <br>
                    <a class="pull-right" href="{% url 'activism:events' %}">Все <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            {% endif %}
            {% if bids|length > 0 %}
            <div class="panel panel-default dash-pan">
                <div class="panel-heading"><i class="fa fa-hand-paper-o fa-fw" style="margin-right:5px;"></i>&nbsp;Мои заявки 
                <span class="pull-right">
                    <a class="grey" role="button" data-toggle="collapse" href="#dash-bids" aria-expanded="true" aria-controls="dash-bids">
                        <i style="margin-top: 5px;" class="drop-controller fa fa-lg fa-caret-down"></i>
                    </a>
                </span></div>
                <div class="panel-body collapse in" id="dash-bids">
                    {% for task in bids %}
                        <a href="{% url 'activism:task' pk=task.pk %}">{{task.name}}</a>
                        {% if user in task.candidates.all %}
                        <span class="label lbl label-default pull-right">В ожидании</span>
                        {% elif user in task.rejected.all %}
                        <span class="label lbl label-danger pull-right">Отклонено</span>
                        {% elif user in task.assignees.all %}
                        <span class="label lbl label-success pull-right">Одобрено</span>
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if tasks_current|length > 0 %}
            <div class="panel panel-default dash-pan">
                <div class="panel-heading"><i class="fa fa-tasks fa-fw" style="margin-right:5px;"></i>&nbsp;Мои задачи
                <span class="pull-right">
                    <a class="grey" role="button" data-toggle="collapse" href="#dash-assigned" aria-expanded="true" aria-controls="dash-assigned">
                        <i style="margin-top: 5px;" class="drop-controller fa fa-lg fa-caret-down"></i>
                    </a>
                </span>
                </div>
                <div class="panel-body collapse in" id="dash-assigned">
                    {% for task in tasks_current %}
                        <a href="{% url 'activism:task' pk=task.pk %}">{{task.name}}</a>
                        {% if task.status == 'resolved' %}
                            <span class="label lbl label-primary pull-right">
                        {% elif task.status == 'in_progress' %}
                            <span class="label lbl label-warning pull-right">
                        {% endif %}
                                {{ task.get_status_display }}
                            </span>
                        <br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if tasks_created|length > 0 %}
            <div class="panel panel-default dash-pan">
                <div class="panel-heading">
                <span class="fa fa-user fa-fw"></span>&nbsp;Созданные мной
                <span class="pull-right">
                    <a class="grey" role="button" data-toggle="collapse" href="#dash-created" aria-expanded="true" aria-controls="dash-created">
                        <i style="margin-top: 5px;" class="drop-controller fa fa-lg fa-caret-down"></i>
                    </a>
                </span>
                </div>
                <div class="panel-body collapse in" id="dash-created">
                    {% for task in tasks_created %}
                        <a href="{% url 'activism:task' pk=task.pk %}">{{task.name}}</a>
                        {% if task.status == 'closed' %}
                            <span class="label lbl pull-right label-success">
                        {% elif task.status == 'resolved' %}
                            <span class="label lbl pull-right label-primary">
                        {% elif task.status == 'in_progress' %}
                            <span class="label lbl pull-right label-warning">
                        {% elif task.status == 'open' %}
                            <span class="label lbl pull-right label-default">
                        {% elif task.status == 'in_labor' %}
                            <span class="label lbl pull-right label-danger">
                        {% elif task.status == 'volunteers' %}
                            <span class="label lbl pull-right label-info ">
                        {% endif %}
                                {{ task.get_status_display }}</span>
                        <br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8"> 
            <center><h4>Биржа задач</h4></center>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for task in labor %}
                {% if task.is_urgent%}
                <div class="panel panel-danger">
                {% elif task.is_hard%}
                <div class="panel panel-warning">
                {% else %}
                <div class="panel panel-default">
                {% endif %}
                    <div class="panel-heading dash-panel" role="tab" id="heading{{task.pk}}" data-toggle="collapse" data-parent="#accordion" href="#body{{task.pk}}" aria-expanded="false" aria-controls="body{{task.pk}}">
                        {% if task.sector.name == 'Проектный сектор' %}
                        <div class="sector-label purple"><i class='fa fa-lg fa-circle'></i></div>
                        {% elif task.sector.name == 'Информационный сектор' %}
                        <div class="sector-label blue"><i class='fa fa-lg fa-circle'></i></div>
                        {% elif task.sector.name == 'Хозяйственный сектор' %}
                        <div class="sector-label yellow"><i class='fa fa-lg fa-circle'></i></div>
                        {% elif task.sector.name == 'Кураторский сектор' %}
                        <div class="sector-label green"><i class='fa fa-lg fa-circle'></i></div>
                        {% elif task.sector.name == 'Отдел по работе с абитуриентами' %}
                        <div class="sector-label red"><i class='fa fa-lg fa-circle'></i></div>
                        {% else %}
                        <div class="sector-label grey"><i class='fa fa-lg fa-circle'></i></div>
                        {% endif %}
                        <span class="big-letters">&nbsp;{{ task.name }}</span>
                        <span class="pull-right grey">{% if task.event %}{{task.event}}{% else %}Без мероприятия{% endif %}</span>
                    </div>
                    <div id="body{{task.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{task.id}}">
                        <div class="panel-body">
                            {% if task.event %}
                            <a href="{% url 'activism:event' pk=task.event.pk %}">{{ task.event.name }}</a>/{% endif %}<a href="{% url 'activism:task' pk=task.pk %}">{{ task.name }}</a> <br>
                            {{ task.description }} <br>
                            {% for tag in task.tags.all %}
                            <a href="#">#{{tag}}</a>
                            {% endfor %}
                            <br>
                            <span class = "param">Волонтерские Часы:</span> <span class="value-accent">{{ task.hours_predict }}</span><br>
                            <span class = "param">Сделать до:</span> <span class="date-accent">{{ task.datetime_limit }}</span><br>
                            <span class = "param">Активисты:</span>
                            <span class="value-accent">{{task.number_of_assignees}}</span>
                            <span class = "param">(набрано <span class="value-accent">{{task.assignees.all.count}}</span>)</span>
                            <br>
                            {% if request.user in task.candidates.all %}
                            <a class="btn btn-default pull-right disabled">Заявка подана</a>
                            {% elif request.user in task.assignees.all %}
                            <a class="btn btn-success pull-right disabled">Заявка одобрена</a>
                            {% elif request.user in task.rejected.all %}
                            <a class="btn btn-danger pull-right disabled">Заявка отклонена</a>
                            {% else %}
                            <a class="btn btn-primary pull-right action" href="{% url 'activism:task_action' pk=task.pk action='do' %}">Хочу выполнить!</a>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if request.user|has_group:'Руководящая группа' or user.events.all.count > 0 %}
                <center>
                    <a href="{% url 'activism:create_task' %}" 
                       class="btn btn-default robotobold"
                       style="margin-top: 10px;"
                       data-target="#form-modal">
                        <i class="fa fa-tasks fa-lg" style="margin-right:10px"></i> Новая задача</i>
                    </a>
                </center>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% include "modal.html" %}
{% endblock %}