{% extends "base.html" %}
{% load static from staticfiles %}
{% load has_group %}
{% block title %} Мероприятия {% endblock %}
{% block activism_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/activism.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/activism.css' %}">
{% endblock %}
{% block content %}

<div class="row well namezone">
    <h3 class="task-name nametext"> Мероприятия </h3>
</div>
<div class = "row pagezone">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for event in events %}
		<div class="panel panel-default">
			<div class="panel-heading event-pan" role="tab" id="heading{{event.pk}}" data-toggle="collapse" data-parent="#accordion" href="#body{{event.pk}}" aria-expanded="false" aria-controls="body{{event.pk}}">
				<h4>{{ event.name }}</h4>
			</div>
			<div id="body{{event.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{event.id}}">
				<div class="panel-body">
                    <p style = "margin-bottom:10px;" class="light">
					{% if event.description %}{{ event.description }}
                    {% else %}Нет описания{% endif %}
                    </p>
                    <span class="grey">Дата проведения: </span><span>{{ event.date_held }}</span>
                    <a class="pull-right" href="{% url 'activism:event' pk=event.pk %}">Страница мероприятия <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
    
    {% if can_all or is_main %}
    
    <center><a class="btn btn-default robotobold"
               href="{% url 'activism:create_event'%}"
               data-target="#form-modal">
        <i class="fa fa-calendar fa-lg" style="margin-right:10px"></i> Новое мероприятие </i>
    </a></center>
    {% endif %}
</div>
{% endblock %}