{% extends "base.html" %}
{% load static from staticfiles %}
{% load add_class has_group thumbnail %}
{% block title %} Мероприятие {% endblock %}
{% block activism_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/activism.js' %}"></script>
    <script src="{% static 'js/activism/event.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/activism.css' %}">{% endblock %}
{% block content %}
        <div class="row well namezone">
            <h3 class="event-name nametext">{{ event.name }}</h3>
        </div>
        <div class = "row pagezone">
            {% if user == event.creator and event.status == 'open'%}
            <div class = "row">
                <div class="col-md-12" style="padding-left:40px;">
                {% if can_close %}
                    <a class="btn btn-default" href="{% url 'activism:event_action' pk=event.pk action='close'%}"><i class="fa fa-lg fa-check green"></i> Завершить мероприятие</a>
                {% else %}
                    <a class="btn btn-default disabled"><i class="fa fa-lg fa-check green"></i> Завершить мероприятие</a>
                {% endif %}
                </div>
            </div>
            {% endif %}
            <div class = "col-md-12">
                <div class="section">
                    <h5 class="section-name">Информация</h5>
                    <hr class="just-a-line">
                    <div class = "row">
                        <div class = "col-md-6">
                            <table class="usual-letters" border="0" style="width:100%; margin-bottom:15px;">
                                <tr>
                                    <td>
                                        <span class="param">Сектор:</span>
                                    </td>
                                    <td class="ra">
                                    {% if user == event.creator  and event.status == 'open' %}
                                        <span class="" id="sector">
                                        {% if event.sector %}
                                            <a href="{% url 'activism:sector' pk=event.sector.pk %}"
                                               class="sector-current sector-name" id="{{event.sector.pk}}">{{ event.sector.name }}</a>
                                        {% else %}
                                            <span class="sector-current sector-name" id="">Нет</span>
                                        {% endif %}
                                            <a href="#" class="light"><i class="fa fa-pencil" id="sector-pencil"></i></a>
                                        </span>
                                        <span class="hidden" id="sector-edit">
                                            <select class="selector" id="sector-field">
                                                <option class="selector-item" value="">Нет</option>
                                            {% for sector in sectors %}
                                                <option class="selector-item" value="{{ sector.pk }}">{{ sector.name }}</option>
                                            {% endfor %}
                                            </select>
                                        </span>
                                    {% else %}
                                        <span>
                                        {% if event.sector %}
                                            <a href="{% url 'activism:sector' pk=event.sector.pk %}" class="sector-name">{{ event.sector.name }}</a>
                                        {% else %}
                                            <span class="sector-name">Нет</span>
                                        {% endif %}
                                        </span>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="param">Создатель:</span>
                                    </td>
                                    <td class="ra">
                                    {% if user == event.creator %}
                                        <span class="">
                                        {% if event.creator.avatar.img %}
                                            {% thumbnail event.creator.avatar.img "22x22" crop="center" as pic %}
                                                <img src="{{ pic.url }}" class="avatar">
                                            {% endthumbnail %}
                                        {% endif %} 
                                            {{ event.creator.get_full_name }} <span class="grey">(Это вы)</span>
                                        </span>
                                    {% else %}
                                        <a href="{% url 'accounts:profile' pk=event.creator.profile.pk %}" class = "">
                                        {% if event.creator.avatar.img %}
                                            {% thumbnail event.creator.avatar.img "22x22" crop="center" as pic %}
                                                <img src="{{ pic.url }}" class="avatar">
                                            {% endthumbnail %}
                                        {% endif %}
                                            {{ event.creator.get_full_name }}
                                        </a>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr height="10">
                                </tr>
                                <tr>
                                    {% if event.assignees.all.count == 0 %}
                                        <td><span class="param">Нет ответственных</span>
                                        {% if user == event.creator  and event.status == 'open' %}
                                        <td class="ra">
                                            <a href="#" class="green" id="assign">Назначить <i class="fa fa-user-plus fa-lg "></i></a>
                                            {{ form.assignees_autocomplete|add_class:"hidden" }}
                                        </td>
                                        {% endif %}
                                    {% else %}
                                        <td valign="top"><span class="param">Ответственные:</span></td>
                                        <td align="right">
                                            <table class="usual-letters" border="0">
                                                {% for assignee in event.assignees.all %}
                                                    <tr>
                                                        <td style="padding-right:5px;">
                                                            <a href="{% url 'accounts:profile' pk=assignee.profile.pk %}">
                                                                {% if assignee.avatar.img %}
                                                                    {% thumbnail assignee.avatar.img "22x22" crop="center" as pic %}
                                                                    <img src="{{ pic.url }}" class="avatar">
                                                                    {% endthumbnail %}
                                                                {% endif %}
                                                            </a>
                                                        </td>
                                                        <td style="padding-right:5px;">
                                                            <a href="{% url 'accounts:profile' pk=assignee.profile.pk %}" id="{{assignee.pk}}" class="assignee">
                                                                {{ assignee.get_full_name }}
                                                            </a>
                                                        </td>
                                                        {% if user == event.creator  and event.status == 'open' %}
                                                        <td align="right">
                                                        <a href="#" class="red resign" id="{{assignee.pk}}" data-toggle="tooltip" data-placement="left" title="Снять с задачи"><i class="fa fa-user-times fa-lg"></i></a>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                {% if user == event.creator  and event.status == 'open' %}
                                                    <tr style="height:20px">
                                                        <td colspan = "2">
                                                                {{ form.assignees_autocomplete|add_class:"hidden" }}
                                                        </td>
                                                        <td align = "right">
                                                                <a href="#" class="green" id="assign"><i class="fa fa-user-plus fa-lg"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            </table>
                                        </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                        <div class = "col-md-6">
                            <span class="param">Cтатус:</span>
                            {% if event.status == 'closed' %}
                            <span class="label label-success pull-right">
                            {% elif event.status == 'open' %}
                            <span class="label label-danger pull-right">
                            {% endif %}
                            {{ event.get_status_display }}
                            </span>
                            <br>

                            <span class="param">Дата создания:</span>
                            <span class = "pull-right">{{ event.date_created }}</span>
                            <br>
                            <span class="param">Дата проведения:</span>
                            {% if user == event.creator and event.status == 'open' %}
                            <span class = "pull-right">
                                <span id="date_held">
                                    {{ event.date_held }}
                                    <a href="#" class="light"><i class="fa fa-pencil" id="date_held-pencil"></i></a>
                                </span>
                                <span id="date_held-edit" class="hidden">
                                    <input id="date_held-field" type="date" value="{{event.date_held|date:'Y-m-d'}}">
                                </span>
                            </span>
                            {% else %}
                            <span class="pull-right">{{ event.date_held }}</span>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h5 class="section-name">Описание {% if user == event.creator and event.status == 'open' %}<a href="#" class="light"><i class="fa fa-pencil" id="description-pencil"></i></a>{% endif %} </h5>
                    <hr class="just-a-line">
        
                    <span id="description"><span id="description-current">{{ event.description }}</span></span>
                    {% if user == event.creator and event.status == 'open' %}
                    <span class="hidden" id="description-edit">
                        <textarea class="form-control" id="description-field" rows="4">{{ event.description }}</textarea>
                    </span>
                    {% endif %}
        
                </div>
                <div class = "section">
                    <h5 class="section-name">Задачи</h5>
                    <div class="table-responsive">
                        <table class = "table usual-letters">
                            <tr>
                                <th>Задача</th>
                                <th>Исполнитель(-и)</th>
                                <th>Статус</th>
                            </tr>
                            {% for task in event.tasks.all %}
                            <tr>
                                <td><a href="{% url 'activism:task' pk=task.pk %}">{{ task.name }}</a></td>
                                <td> {% for part in task.participants.all %}
                                    <a href="{% url 'accounts:profile' pk=part.user.profile.pk %}">
                                    {% if part.user.avatar.img %}
                                            {% thumbnail part.user.avatar.img "22x22" crop="center" as pic %}
                                            <img src="{{ pic.url }}" class="avatar">
                                            {% endthumbnail %}
                                        {% endif %}<span style="padding-left:5px;">{{ part.user.get_full_name }}</span></a><br>
                                    {% endfor %}
                                </td>
                                <td>
                                <span class="">
                                {% if task.status == 'closed' %}
                                    <span class="label lbl label-success">
                                {% elif task.status == 'resolved' %}
                                    <span class="label lbl label-primary">
                                {% elif task.status == 'in_progress' %}
                                    <span class="label lbl label-warning">
                                {% elif task.status == 'open' %}
                                    <span class="label lbl label-default">
                                {% elif task.status == 'in_labor' %}
                                    <span class="label lbl label-danger">
                                {% elif task.status == 'volunteers' %}
                                    <span class="label lbl label-info ">
                                {% endif %}
                                        {{ task.get_status_display }}</span>
                                </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% if user == event.creator and event.status == 'open' %}
                    <center><a href="{% url 'activism:create_task' %}"
                               class="btn btn-default robotobold"
                               data-target="#form-modal">
                            <i class="fa fa-tasks fa-lg" style="margin-right:10px"></i> Новая задача</i>
                        </a>
                    </center>
                    {% endif %}
                </div>
            </div>
            <!--div class = "col-md-4">
            </div-->
        </div>
{% include 'modal.html' %}
{% endblock %}