{% extends "base.html" %}
{% load static from staticfiles %}
{% load has_group %}
{% load thumbnail %}
{% block title %} Активисты {% endblock %}
{% block activism_table_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/activism.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/activism.css' %}">
{% endblock %}

{% block content %}
<div class="row well namezone">
    <h3 class="task-name nametext"> Выплаты </h3>
</div>
<div class = "row pagezone">
    <div class="col-sm-2">
        <form class="form" method="get" action="./" name="filter">
            <label class="control-label" for="const">Константа: </label>
            <input id="const" type="number" class="form-control" name="const" min="0" max="100000" value="{{const}}">
            <br>
            <label class="control-label" for="begin">Начало отчётного периода: </label>
            <input id="begin" type="date" class="form-control" name="begin" value="{{begin|date:'Y-m-d'}}">
            <br>
            <label class="control-label" for="end">Конец отчётного периода: </label>
            <input id="end" type="date" class="form-control" name="end" value="{{end|date:'Y-m-d'}}">
            <br>
            <center><button class="btn btn-primary" type="submit">Посчитать</button></center>
        </form>
    </div>

    <div class="table-responsive col-sm-10">
    <table class="table table-bordered">
        <tr>
            <th class="text-center">Активист</th>
            <th class="text-center hidden-sm hidden-xs">Часы</th>
            <th class="text-center hidden-sm hidden-xs">Коэффициент</th>
            <th class="text-center">Деньги</th>
        </tr>
    {% for record in records %}
        <tr>
            <td style = "padding: 1px 10px;">
                <a href = "{% url 'accounts:profile' pk=record.user.profile.pk %}">{{record.user.last_name}} {{record.user.first_name}} {{record.user.profile.middle_name}}</a>
            </td>
            <td class="hidden-sm hidden-xs">
                {{record.hours}}
            </td>
            <td class="hidden-sm hidden-xs">
                {{record.coef}}
            </td>
            <td>
                {{record.payment|stringformat:'.0f'}}
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
