{% extends "base.html" %}
{% load static from staticfiles %}
{% load add_class has_group %}
{% load thumbnail %}
{% block title %} Задача {% endblock %}
{% block activism_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/activism.js' %}"></script>
    <script src="{% static 'js/activism/task.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/activism.css' %}">
{% endblock %}
{% block content %}
<div class="row well namezone">
    {% if can_edit %}
    <span id="name">
        <h3 class="task-name nametext">
            <span id="name-current">{{ task.name }}</span>
            <a href="#" class="light"><i class="fa fa-pencil" id="name-pencil"></i></a>
        </h3>
    </span>
    <span id="name-edit" class="hidden">
        <input id="name-field" type="text" value="{{ task.name }}">
    </span>
    {% else %}
    <h3 class="task-name nametext">{{ task.name }}</h3>
    {% endif %}
</div>
<div class = "row pagezone">
    {% comment %} <!-- Управление статусом задачи -->{% endcomment %}
        <div class = "row">
            <div class="col-md-12" style="padding-left:40px;">
    {% if can_edit %}
            {% if task.status == 'open' %}
                <a class="btn btn-default action" id="in_labor"
                   href="{% url 'activism:task_action' pk=task.pk action='in_labor'%}"><i class="fa fa-users"></i> На биржу </a>
            {% elif task.status == 'in_labor' %}
                <a class="btn btn-default action" id="open"
                   href="{% url 'activism:task_action' pk=task.pk action='open'%}"><i class="fa fa-user-times"></i> Снять с биржи </a>
            {% elif task.status == 'resolved'%}
                <a class="btn btn-default action" id="not_resolved"
                   href="{% url 'activism:task_action' pk=task.pk action='not_resolved'%}"><i class="fa fa-lg fa-exclamation red"></i> Не готово</a>
            {% endif %}
            {% if task.status == 'open' or task.status == 'in_labor' %}
                <a class="btn btn-default action confirm {% if task.assignees.all.count < task.number_of_assignees %} disabled {% endif %}"
                   href="{% url 'activism:task_action' pk=task.pk action='in_progress'%}" id="in_progress">
                    <i class="fa fa-bolt fa-lg yellow"></i> Начать
                </a>
            {% endif %}
            {% if task.status == 'open' or task.status == 'in_labor' or user.is_superuser or is_charge %}
                <a class="btn btn-default confirm action" id="delete"
                   href="{% url 'activism:task_action' pk=task.pk action='delete'%}">
                    <i class="fa fa-lg fa-trash-o red"></i> Удалить
                </a>
            {% endif %}
    {% endif %}
        {% if can_resolve %}
                <a class="btn btn-default action" id="resolve"
                   href="{% url 'activism:task_action' pk=task.pk action='resolved'%}"><i class="fa fa-lg fa-check blue"></i> Готово
                </a>
        {% endif %}
        {% if can_close %}
            <a class="btn btn-default action" id="close"
               href="{% url 'activism:task_action' pk=task.pk action='close'%}"><i class="fa fa-check fa-lg green"></i>
                {% if task.status == 'closed' %}
                Изменить часы
                {% else %}
                Закрыть задачу
                {% endif %}
            </a>
        {% endif %}
            {% if task.event %}
                 <a class="btn btn-default pull-right" href="{% url 'activism:event' pk=task.event.pk %}" style="margin-left:3px;">
                     <i class="fa fa-lg fa-arrows blue"></i> К мероприятию
                 </a>
            {% endif %}
                <a class="btn btn-default pull-right" id="log" style="margin-left:3px;"
                   href="{% url 'activism:task_log' pk=task.pk %}"
                   data-target="#form-modal">
                    <i class="fa fa-lg fa-book grey"></i> История
                </a>
            {% if task.status == 'in_labor' and user not in task.candidates.all and user not in task.assignees.all and user not in task.rejected.all %}
                <a class="btn btn-default pull-right action" href="{% url 'activism:task_action' pk=task.pk action='do' %}">
                    <i class="fa fa-lg fa-user green"></i> Хочу выполнить!
                </a>
            {% endif %}
            </div>
        </div>

    {% comment %} <!-- Управление задачей -->{% endcomment %}
    <div class = "col-md-8">
        <div class="section">
            <h5 class="section-name">Информация</h5>
            <hr class="just-a-line">
            <div class = "row">
                <div class = "col-md-6">
                    <table class="usual-letters" border="0" style="width:100%; margin-bottom:15px;">
                        <tr>
                            <td>
                                <span class="param">Мероприятие:</span>
                            </td>
                            <td class="ra">
                            {% if can_edit_event  %}
                                <span id="event">
                                    {% if task.event %}
                                    <a href="{% url 'activism:event' pk=task.event.pk %}"
                                       id="{{task.event.pk}}" class="event-current">{{ task.event.name }}</a>
                                    {% else %}
                                        <span id="" class="event-current">Нет</span>
                                    {% endif %}
                                    <a href="#" class="light"><i class="fa fa-pencil" id="event-pencil"></i></a>
                                </span>
                                <span class="hidden" id="event-edit">
                                    <select class="selector" id="event-field">
                                        {% if is_main or user.is_superuser or is_charge %}
                                        <option class="selector-item" value="">Нет</option>
                                        {% endif %}
                                        {% for event in events %}
                                        <option class="selector-item" value="{{ event.pk }}">{{ event.name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            {% else %}
                                <span class="">
                                    {% if task.event %}
                                        <a href="{% url 'activism:event' pk=task.event.pk %}">{{ task.event.name }}</a>
                                    {% else %}
                                        <span>Нет</span>
                                    {% endif %}
                                </span>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="param">Сектор:</span>
                            </td>
                            <td class="ra">
                            {% if can_edit_sector %}
                                <span id="sector">
                                {% if task.sector %}
                                    <a href="{% url 'activism:sector' pk=task.sector.pk %}"
                                       id="{{task.sector.pk}}" class="sector-current">{{ task.sector.name }}</a>
                                {% else %}
                                    <span id="" class="sector-current">Сектор активистов</span>
                                {% endif %}
                                    <a href="#" class="light"><i class="fa fa-pencil" id="sector-pencil"></i></a>
                                </span>
                                <span class="hidden" id="sector-edit">
                                    <select class="selector" id="sector-field">
                                        {% if is_main or can_all %}
                                        <option class="selector-item" value="">Сектор активистов</option>
                                        {% endif %}
                                        {% for sector in sectors %}
                                        <option class="selector-item" value="{{ sector.pk }}">{{ sector.name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            {% else %}
                                <span class="">
                                    {% if task.sector %}
                                        <a href="{% url 'activism:sector' pk=task.sector.pk %}">{{ task.sector.name }}</a>
                                    {% else %}
                                        <span>Сектор активистов</span>
                                    {% endif %}
                                </span>
                            {% endif %}
                            </td>
                        </tr>
                        <tr height="10">
                        </tr>
                        <tr>
                            {% if task.responsible.all.count == 0 %}
                                <td valign="top"> <span class="param">Нет ответственных</span> </td>
                                {% if can_edit %}
                                <td class="ra">
                                    <a href="#" class="green" id="assign-responsible">Назначить <i class="fa fa-user-plus fa-lg"></i></a>
                                    {{ form.responsible_autocomplete|add_class:"hidden" }}
                                </td>
                                {% endif %}
                            {% else %}
                                <td valign="top"><span class="param">Ответственные:</span></td>
                                <td align="right">
                                    <table class="usual-letters" border="0">
                                        {% for responsible in task.responsible.all %}
                                            <tr>
                                                <td style="padding-right:5px;">
                                                    <a href="{% url 'accounts:profile' pk=responsible.profile.pk %}">
                                                        {% if responsible.avatar.img %}
                                                            {% thumbnail responsible.avatar.img "22x22" crop="center" as pic %}
                                                            <img src="{{ pic.url }}" class="avatar">
                                                            {% endthumbnail %}
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td {% if can_edit %} style="padding-right:5px;" {% endif %}>
                                                    <a href="{% url 'accounts:profile' pk=responsible.profile.pk %}" id="{{responsible.pk}}" class="responsible">
                                                        {{ responsible.get_full_name }}
                                                    </a>
                                                </td>
                                                {% if can_edit %}
                                                <td align="right">
                                                <a href="#" class="red resign-responsible" id="{{responsible.pk}}" data-toggle="tooltip" data-placement="left" title="Снять с задачи"><i class="fa fa-user-times fa-lg"></i></a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        {% if can_edit %}
                                            <tr style="height:20px">
                                                <td colspan = "2">
                                                        {{ form.responsible_autocomplete|add_class:"hidden" }}
                                                </td>
                                                <td align = "right">
                                                        <a href="#" class="green" id="assign-responsible"><i class="fa fa-user-plus fa-lg"></i></a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </td>
                            {% endif %}
                        </tr>
                        <tr height="10">
                        </tr>
                        <tr>
                            {% if task.assignees.all.count == 0 %}
                                <td valign="top"> <span class="param">Нет исполнителей</span> </td>
                                {% if can_edit %}
                                <td class="ra">
                                    <a href="#" class="green" id="assign">Назначить <i class="fa fa-user-plus fa-lg"></i></a>
                                    {{ form.assignees_autocomplete|add_class:"hidden" }}
                                </td>
                                {% endif %}
                            {% else %}
                                <td valign="top"><span class="param">Исполнители:</span></td>
                                <td align="right">
                                    <table class="usual-letters" border="0">
                                        {% for assignee in task.assignees.all %}
                                            <tr>
                                                <td style="padding-right:5px;">
                                                    <a href="{% url 'accounts:profile' pk=assignee.profile.pk %}">
                                                        {% if assignee.avatar.img %}
                                                            {% thumbnail assignee.avatar.img "22x22" crop="center" as pic %}
                                                            <img src="{{ pic.url }}" class="avatar">
                                                            {% endthumbnail %}
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td {% if can_edit %} style="padding-right:5px;" {% endif %}>
                                                    <a href="{% url 'accounts:profile' pk=assignee.profile.pk %}" id="{{assignee.pk}}" class="assignee">
                                                        {{ assignee.get_full_name }}
                                                    </a>
                                                </td>
                                                {% if can_resign_assignee %}
                                                <td align="right">
                                                <a href="#" class="red resign" id="{{assignee.pk}}" data-toggle="tooltip" data-placement="left" title="Снять с задачи"><i class="fa fa-user-times fa-lg"></i></a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        {% if can_edit %}
                                            <tr style="height:20px">
                                                <td colspan = "2">
                                                        {{ form.assignees_autocomplete|add_class:"hidden" }}
                                                </td>
                                                <td align = "right">
                                                        <a href="#" class="green" id="assign"><i class="fa fa-user-plus fa-lg"></i></a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
                <div class = "col-md-6">
                    <table border="0" class="usual-letters" style="width:100%"> 
                        <tr>
                            <td>
                                <span class="param">Статус:</span>
                            </td>
                            <td class="ra">
                            {% if task.status == 'closed' %}
                                <span class="label lbl label-success">
                            {% elif task.status == 'resolved' %}
                                <span class="label lbl label-primary">
                            {% elif task.status == 'in_progress' %}
                                <span class="label lbl label-warning">
                            {% elif task.status == 'open' %}
                                <span class="label lbl label-default">
                            {% elif task.status == 'in_labor' %}
                                <span class="label lbl label-danger">
                            {% elif task.status == 'volunteers' %}
                                <span class="label lbl label-info">
                            {% endif %}
                                    {{ task.get_status_display }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="param">Особенности:</span>
                            </td>
                            <td class="ra">
                                <span class="priotity pull-right" style="color:red; font-family:'RobotoBold'">
                                {% if task.is_urgent %}
                                    <span class="priotity red robotobold" id="urgent">
                                    &nbspСРОЧНОЕ
                                    </span>
                                {% endif %}
                                {% if task.is_hard %}
                                    <span class="priotity red robotobold" id="hard">
                                    &nbspТРУДНОЕ
                                    </span>
                                {% endif %}
                                {% if not task.is_urgent and not task.is_hard %}
                                    <span class="priotity grey">
                                        Нет
                                    </span>
                                {% endif %}
                                {% if is_charge or can_all %}
                                <a id='prop' href="{% url 'activism:task_action' pk=task.pk action='prop'%}" class="light action">
                                    <i class="fa fa-pencil" id="prop-pencil"></i>
                                </a>
                                {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="param">Количество людей:</span>
                            </td>
                            <td class="ra">
                                <span>
                                    {% if can_edit %}
                                        <span id="number_of_assignees"><span id="number_of_assignees-current">{{ task.number_of_assignees }}</span> чел.
                                            <a href="#" class="light"><i class="fa fa-pencil" id="number_of_assignees-pencil"></i></a>
                                        </span>
                                        <span id="number_of_assignees-edit" class="hidden">
                                            <input id="number_of_assignees-field" type="number" min="1" max="99" value="{{ task.number_of_assignees }}"> чел.
                                        </span>
                                    {% else %}
                                        <span>{{ task.number_of_assignees }} чел.</span>
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr height="10">
                        </tr>
                        <tr>
                            {% if can_edit %}
                                {% if task.candidates.all.count == 0 %}
                                    <td colspan="2" valign="top">
                                        <span class="param">Нет кандидатов</span>
                                    </td>
                                {% else %}
                                    <td valign="top"><span class="param">Кандидаты:</span></td>
                                    <td align="right">
                                        <table class="usual-letters" border="0">
                                        {% for candidate in task.candidates.all %}
                                            <tr>
                                                <td style="padding-right:5px;">
                                                    <a href="{% url 'accounts:profile' pk=candidate.profile.pk %}">
                                                        {% if candidate.avatar.img %}
                                                            {% thumbnail candidate.avatar.img "22x22" crop="center" as pic %}
                                                                <img src="{{ pic.url }}" class="avatar">
                                                            {% endthumbnail %}
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td style="padding-right:5px;">
                                                    <a href="{% url 'accounts:profile' pk=candidate.profile.pk %}" id="{{candidate.pk}}" class="candidate">
                                                        {{ candidate.get_full_name }}
                                                    </a>
                                                </td>
                                                <td style="padding-right:2px;">
                                                    <a href="#" class="blue approve" title="Назначить на задачу" id="{{candidate.pk}}"> <i class="fa fa-thumbs-o-up fa-lg"></i> </a>
                                                </td>
                                                <td>
                                                    <a href="#" class="red reject" title="Отклонить заявку" id="{{candidate.pk}}"> <i class="fa fa-thumbs-o-down fa-lg"></i> </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="section">
            <h5 class="section-name">Описание <a href="#" class="light">
                {% if can_edit %}<i class="fa fa-pencil" id="description-pencil"></i>{% endif %}
            </a></h5>
            <hr class="just-a-line">
            <span id="description"><span id="description-current">{{ task.description|linebreaksbr }}</span></span>
            {% if can_edit %}
            <span class="hidden" id="description-edit">
                <textarea class="form-control" id="description-field" rows="4">{{ task.description }}</textarea>
            </span>
            {% endif %}
        </div>
        <div class="section">
            {% if can_edit %}
            <span>
                <span id="tags">
                    {% for tag in task.tags.all %}
                        &nbsp#{{ tag }}
                    {% endfor %}
                    <a href="#" class="light"><i class="fa fa-pencil" id="tags-pencil"></i></a>
                </span>
                <span id="tags-edit" class="hidden">
                    {{ form.tags }}
                </span>
            </span>
            {% else %}
            <span>
                <span id="tags">
                    {% for tag in task.tags.all %}
                        &nbsp#{{ tag }}
                    {% endfor %}
                </span>
            </span>
            {% endif %}
        </div>
        <br>
    </div>
    <div class = "col-md-4">
        <div class="section">
            <h5 class="section-name">Часы работы активиста</h5>
            <hr class="just-a-line">
            <table border="0" class="usual-letters" style="width:100%"> 
                
            {% if can_edit %}
                <tr>
                    <td>
                        <span class="param">Расчетные:</span>
                    </td>
                    <td class="ra">
                        <span id="hours_predict">
                            <span id="hours_predict-current">{{ task.hours_predict|stringformat:".1f" }}</span> час.
                            <a href="#" class="light"><i class="fa fa-pencil" id="hours_predict-pencil"></i></a>
                        </span>
                        <span id="hours_predict-edit" class="hidden">
                            <input id="hours_predict-field" type="number" min = "1" max="99" value="{% if task.hours_predict %}{{ task.hours_predict|stringformat:'.1f' }}{% endif %}"> час.
                        </span>
                    <td>    
                </tr>
            {% else %}
                <tr>
                    <td>
                        <span class="param">Расчетные:</span>
                    </td>
                    <td class="ra">
                        {% if task.hours_predict %}{{ task.hours_predict|stringformat:".1f" }} час.{% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if task.status == 'closed' or task.status == 'resolved' %}
                <tr>
                    <td>
                        <span class="param">Реальные:</span>
                    </td>
                    <td align="right">
                        <table border="0" class="usual-letters">
                        {% for entity in through %}
                            <tr>
                                <td class="ra">{{entity.user.get_full_name}} : {{entity.hours}} час.</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}
            </table>
        </div>
        <div class="section">
            <h5 class="section-name">Даты</h5>
            <hr class="just-a-line">
            <table border="0" class="usual-letters" style="width:100%"> 
                <tr>
                    <td>
                        <span class="param">Создано:</span>
                    </td>    
                    <td class="ra">
                        {{ task.datetime_created }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="param">Последнее изменение:</span>
                    </td>
                    <td class="ra">
                        {{ task.datetime_last_modified }}
                    </td>
                </tr>
                <tr>
                    <td >
                        <span class="param">Сроки:</span>
                    </td>
                    {% if can_edit %}
                    <td class="ra">
                        <span id="datetime_limit">{{ task.datetime_limit }}
                        <a href="#" class="light"><i class="fa fa-pencil" id="datetime_limit-pencil"></i></a>
                        </span>
                        <span id="datetime_limit-edit" class="hidden">
                            <input id="datetime_limit-field" type="datetime-local" value="{{task.datetime_limit|date:'Y-m-d\TH:i'}}">
                        </span>
                    </td>
                    {% else %}
                    <td class="ra">
                        <span class="pull-right">{{ task.datetime_limit }}</span>
                    </td>
                    {% endif %}
                </tr>
                {% if task.datetime_closed %}
                <tr>
                    <td>
                        <span class="param">Закрыто:</span>
                    </td>
                    <td class="ra">
                        {{ task.datetime_closed }}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>


{% if can_edit %}
<div class="hidden">
    {% for rejecter in task.rejected.all %}
        <span class="rejected" id="{{rejecter.pk}}"></span>
    {% endfor %}
</div>
{% endif %}

{% if can_all %}
<div class="modal" id="prop-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="prop-form" action="{% url 'activism:task_action' pk=task.pk action='prop'%}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="modal-header">
                    <h3>Особенности</h3>
                </div>
                <div id="prop-modal-body" class="modal-body">
                    <label for="id_is_urgent">Срочное задание: </label>
                    <input id="id_is_urgent" name="is_urgent" type="checkbox">
                    <br>
                    <label for="id_is_urgent">Трудное задание: </label>
                    <input id="id_is_hard" name="is_hard" type="checkbox">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<div class="modal" id="resolve-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="resolve-form" action="{% url 'activism:task_action' pk=task.pk action='resolved'%}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="modal-header">
                    <h3>Введите количество часов</h3>
                </div>
                <div id="resolve-modal-body" class="modal-body">
                    {% for user in task.assignees.all %}
                    <label for="id_hours_{{user.pk}}">{{user.get_full_name}}: </label>
                    <input class="form-control" id="id_hours_{{user.pk}}" min="0" name="hours_{{user.pk}}" step="any"
                           type="number" value="{{task.hours_predict|stringformat:'.1f'}}">
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="close-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="close-form" action="{% url 'activism:task_action' pk=task.pk action='close'%}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="modal-header">
                    <h3>Введите количество часов</h3>
                </div>
                <div id="close-modal-body" class="modal-body">
                    <label id="hours-prop">Модификаторы:
                        <span>{% if task.is_urgent %} Срочное (x1.5) {% endif %}<span>
                        <span>{% if task.is_hard %} Трудное (x1.5) {% endif %}</span>
                    </label>
                    <br>
                    {% for entity in through %}
                    <label for="id_rh_{{entity.user.pk}}">{{entity.user.get_full_name}} (реальные): </label>
                    <input class="form-control real-hours" id="id_rh_{{entity.user.pk}}" min="0" step="any" type="number"
                           {% if entity.hours %}
                                value="{{entity.hours|stringformat:'.1f'}}"
                            {% else %}
                                value="{{entity.task.hours_predict|stringformat:'.1f'}}"
                            {% endif %}>
                    <label for="id_hours_{{entity.user.pk}}">{{entity.user.get_full_name}} (финальные, действие модификаторов):
                        <span class="final-hours">5</span> час.
                    </label>
                    <input class="form-control hidden final-hours-hidden" id="id_hours_{{entity.user.pk}}" min="0" name="hours_{{entity.user.pk}}" step="any"
                           type="number" value="{{entity.hours|stringformat:'.1f'}}">
                    <br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Подтверждение</h3>
            </div>
            <div class="modal-body">
                Это приведёт к необратимым изменениям. Вы уверены, что хотите это сделать?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="submit-modal">Да</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}