{% extends "base.html" %}
{% load static from staticfiles %}
{% load add_class has_group %}
{% block title %} Задача {% endblock %}
{% block main_active %} class = "active" {% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/activism.js' %}"></script>
    <script src="{% static 'js/activism/task.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/activism.css' %}">
{% endblock %}
{% block content %}
<div class="row well namezone">
    <h3 class="task-name nametext"> {{ task.name }}</h3>
</div>
<div class = "row pagezone">
    {% comment %} <!-- Управление статусом задачи -->{% endcomment %}
    {% if user == task.creator %}
        <div class = "row">
            <div class="col-md-12" style="padding-left:40px;">
            {% if task.status == 'open' %}
                <a class="btn btn-default action" id="in_labor"
                   href="{% url 'activism:task_action' pk=task.pk action='in_labor'%}"><i class="fa fa-users"></i> На биржу </a>
            {% elif task.status == 'in_labor' %}
                <a class="btn btn-default action" id="open"
                   href="{% url 'activism:task_action' pk=task.pk action='open'%}"><i class="fa fa-user-times"></i> Снять с биржи </a>
            {% elif task.status == 'resolved'%}
                <a class="btn btn-default action" id="not_resolved"
                   href="{% url 'activism:task_action' pk=task.pk action='not_resolved'%}"><i class="fa fa-lg fa-exclamation red"></i> Не готово</a>
            {% endif %}
            {% if task.status == 'resolved' or task.status == 'in_progress' %}
                <a class="btn btn-default action" id="close"
                   href="{% url 'activism:task_action' pk=task.pk action='close'%}"><i class="fa fa-check fa-lg green"></i> Закрыть задачу</a>
            {% endif %}
            {% if task.status == 'open' or task.status == 'in_labor' %}
                <a class="btn btn-default action confirm {% if task.assignees.all.count < task.number_of_assignees %} disabled {% endif %}"
                   href="{% url 'activism:task_action' pk=task.pk action='in_progress'%}" id="in_progress">
                    <i class="fa fa-bolt fa-lg yellow"></i> Начать
                </a>
                <a class="btn btn-default confirm action" id="delete"
                   href="{% url 'activism:task_action' pk=task.pk action='delete'%}">
                    <i class="fa fa-lg fa-trash-o red"></i> Удалить
                </a>
            {% endif %}
            </div>
        </div>
    {% elif user in task.assignees.all and task.status == 'in_progress' %}
        <div class = "row">
            <div class="col-md-12" style="padding-left:40px;">
                <a class="btn btn-default action" id="resolved"
                   href="{% url 'activism:task_action' pk=task.pk action='resolved'%}"><i class="fa fa-lg fa-check blue"></i> Готово</a>
            </div>
        </div>
    {% endif %}

    {% comment %} <!-- Управление задачей -->{% endcomment %}
    <div class = "col-md-8">
        <div class="section">
            <h5 class="section-name">Информация</h5>
            <hr class="just-a-line">
            <div class = "row">
                <div class = "col-md-6">

                    <span class="param">Мероприятие:</span>
                        {% if can_edit %}
                            <span class="pull-right" id="event">
                                {% if task.event %}
                                    <a href="{% url 'activism:event' pk=task.event.pk %}">{{ task.event.name }}</a>
                                {% else %}
                                    <span>Нет</span>
                                {% endif %}
                                <a href="#" class="light"><i class="fa fa-pencil" id="event-pencil"></i></a>
                            </span>
                            <select class="pull-right selector hidden" id="event-edit">
                                {% if user|has_group:'Руководящая группа' %}
                                <option class="selector-item" value="">Нет</option>
                                {% endif %}
                                {% for event in events %}
                                <option class="selector-item" value="{{ event.pk }}">{{ event.name }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <span class="pull-right">
                                {% if task.event %}
                                    <a href="{% url 'activism:event' pk=task.event.pk %}">{{ task.event.name }}</a>
                                {% else %}
                                    <span>Нет</span>
                                {% endif %}
                            </span>
                        {% endif %}
                    <br>

                    <span class="param">Сектор:</span>
                        {% if can_edit %}
                            <span class="pull-right" id="sector">
                                {% if task.sector %}
                                    <a href="{% url 'activism:sector' pk=task.sector.pk %}">{{ task.sector.name }}</a>
                                {% else %}
                                    <span>Нет</span>
                                {% endif %}
                                <a href="#" class="light"><i class="fa fa-pencil" id="sector-pencil"></i></a>
                            </span>
                            <select class="pull-right selector hidden" id="sector-edit">
                                {% if user|has_group:'Руководящая группа' %}
                                <option class="selector-item" value="">Нет</option>
                                {% endif %}
                                {% for sector in sectors %}
                                <option class="selector-item" value="{{ sector.pk }}">{{ sector.name }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <span class="pull-right">
                                {% if task.sector %}
                                    <a href="{% url 'activism:sector' pk=task.sector.pk %}">{{ task.sector.name }}</a>
                                {% else %}
                                    <span>Нет</span>
                                {% endif %}
                            </span>
                        {% endif %}
                    <br>

                    <span class="param">Создатель:</span>
                        {% if user == task.creator %}
                        <span class="pull-right">{{ task.creator.get_full_name }} <span class="grey">(Это вы)</span></span>
                        {% else %}
                        <a href="{% url 'accounts:profile' pk=task.creator.pk %}" class="pull-right">{{ task.creator.get_full_name }}</a>
                        {% endif %}
                    <br>
                    <br>

                {% if task.assignees.all.count == 0 %}
                    <span class="param">Нет исполнителей</span>
                {% else %}
                    <span class="param">Исполнители:</span>
                    {% for assignee in task.assignees.all %}
                        <span class="pull-right">
                            <a href="{% url 'accounts:profile' pk=assignee.pk %}">{{ assignee.get_full_name }}</a>
                        {% if can_edit %}
                            <a href="#" class="red resign" data-toggle="tooltip" data-placement="left" title="Снять с задачи"> <i class="fa fa-user-times fa-lg"></i> </a>
                        {% endif %}
                        </span>
                        <br>
                    {% endfor %}
                {% endif %}
                {% if can_edit %}
                    <span class="pull-right">
                        <a href="#" class="green" id="assign">Назначить <i class="fa fa-user-plus fa-lg "></i></a>
                    </span>
                    <span class="pull-right">
                        {{ form.assignees_autocomplete|add_class:"hidden" }}
                    </span>
                    <br>
                {% endif %}
                    <br>
                </div>
                <div class = "col-md-6">

                    <span class="param">Статус:</span>
                    {% if task.status == 'closed' %}
                        <span class="label lbl label-success pull-right">
                    {% elif task.status == 'resolved' %}
                        <span class="label lbl label-primary pull-right">
                    {% elif task.status == 'in_progress' %}
                        <span class="label lbl label-warning pull-right">
                    {% elif task.status == 'open' %}
                        <span class="label lbl label-default pull-right">
                    {% elif task.status == 'in_labor' %}
                        <span class="label lbl label-danger pull-right">
                    {% elif task.status == 'volunteers' %}
                        <span class="label lbl label-info pull-right">
                    {% endif %}
                            {{ task.get_status_display }}
                        </span>
                    <br>

                    <span class="param">Особенности:</span>
                    {% if task.is_urgent %}
                    <span class="priotity pull-right" style="color:red; font-family:'RobotoBold'">
                        СРОЧНОЕ
                    </span>
                    {% endif %}
                    {% if task.is_hard %}
                    <span class="priotity pull-right" style="color:red; font-family:'RobotoBold'">
                        ТРУДНОЕ
                    </span>
                    {% endif %}
                    <br>
                    <span class="param">Количество людей:</span>
                        <span class="pull-right">
                            {% if can_edit %}
                                <span id="num">{{ task.number_of_assignees }} чел.
                                    <a href="#" class="light"><i class="fa fa-pencil" id="num-pencil"></i></a>
                                </span>
                                <span id="num-edit" class="hidden">
                                    <input id="num-field" type="number" min="1" max="99" value="{{ task.number_of_assignees }}"> чел.
                                </span>
                            {% else %}
                                <span>{{ task.number_of_assignees }} чел.</span>
                            {% endif %}
                        </span>
                    <br>
                    <br>

                    {% if user == task.creator %}
                        {% if task.candidates.all.count == 0 %}
                            <span class="grey">Нет кандидатов</span>
                        {% else %}
                            <span class="param">Кандидаты:</span>
                            {% for candidate in task.candidates.all %}
                            <span class="pull-right">
                                <a href="{% url 'accounts:profile' pk=assignee.pk %}" id="{{candidate.pk}}">{{ candidate.get_full_name }}</a>
                                <a href="#" class="blue approve" title="Назначить на задачу"> <i class="fa fa-thumbs-o-up fa-lg"></i> </a>
                                <a href="#" class="red reject" title="Отклонить заявку"> <i class="fa fa-thumbs-o-down fa-lg"></i> </a>
                            </span>
                            <br>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
        <div class="section">
            <h5 class="section-name">Описание <a href="#" class="light">
                {% if user == task.creator and task.status != 'closed' %}<i class="fa fa-pencil" id="desc-pencil"></i>{% endif %}
            </a></h5>
            <hr class="just-a-line">
            <span id="desc">{{ task.description }}</span>
            {% if user == task.creator and task.status != 'closed' %}
            <span class="hidden" id="desc-edit">
                <textarea class="form-control" id="desc-field" rows="4">{{ task.description }}</textarea>
            </span>
            {% endif %}
        </div>
        <div class="section">
            {% if can_edit %}
            <span>
                <span id="tags">
                    {% for tag in task.tags.all %}
                        &nbsp#{{ tag }}
                    {% endfor %}
                    <a href="#" class="light"><i class="fa fa-pencil" id="tags-pencil"></i></a>
                </span>
                <span id="tags-edit" class="hidden">
                    {{ form.tags }}
                </span>
            </span>
            {% else %}
            <span class="pull-right">
                {% for tag in task.tags.all %}
                    &nbsp{{ tag }}
                {% endfor %}
            </span>
            {% endif %}
        </div>
        <br>
    </div>
    <div class = "col-md-4">
        <div class="section">
            <h5 class="section-name">Волонтерские часы</h5>
            <hr class="just-a-line">
            {% if can_edit %}
                <span class="param">Расчетные:</span>
                <span class="pull-right">
                    <span id="est-hours">
                        {% if task.hours_predict %}{{ task.hours_predict|stringformat:".1f" }} час.{% endif %}
                        <a href="#" class="light"><i class="fa fa-pencil" id="est-hours-pencil"></i></a>
                    </span>
                    <span id="est-hours-edit" class="hidden">
                        <input id="est-hours-field" type="number" min = "1" max="99" value="{% if task.hours_predict %}{{ task.hours_predict|stringformat:".1f" }}{% endif %}"> час.
                    </span>
                </span>
            {% else %}
                <span class="param">Расчетные:</span>
                <span class="pull-right">{% if task.hours_predict %}{{ task.hours_predict|stringformat:".1f" }} час.{% endif %}</span>
                <br>
            {% endif %}
            {% if task.status == 'closed' or task.status == 'resolved' %}
                <span class="param">Реальные:</span>
                {% for entity in through %}
                    <span class="pull-right">{{entity.user.get_full_name}} - {{entity.hours}} час.</span>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
        <div class="section">
            <h5 class="section-name">Даты</h5>
            <hr class="just-a-line">
            <span class="param">Создано:</span> <span class="pull-right">{{ task.datetime_created }}</span> <br>
            <span class="param">Последнее изменение:</span> <span class="pull-right">{{ task.datetime_last_modified }}</span> <br>
            <span class="param">Сроки:</span>
                {% if can_edit %}
                <span class="pull-right">
                    <span id="limit">{{ task.datetime_limit }}
                        <a href="#" class="light"><i class="fa fa-pencil" id="limit-pencil"></i></a>
                    </span>
                    <span id="limit-edit" class="hidden">
                        <input id="limit-field" type="datetime-local" value="{{task.datetime_limit|date:'Y-m-d\TH:i'}}">
                    </span>
                </span>
                {% else %}
                <span class="pull-right">{{ task.datetime_limit }}</span>
                {% endif %}
            <br>
            {% if task.datetime_closed %}
            <span class="param">Закрыто:</span> <span class="pull-right">{{ task.datetime_closed }}</span>
            {% endif %}
        </div>
    </div>
</div>


{% if request.user == task.creator %}
<div class="hidden currents">
    {% if task.event %}
    <span id="event-current">{{ task.event.pk }}</span>
    {% else %}
    <span id="event-current"></span>
    {% endif %}
    {% if task.sector %}
    <span id="sector-current">{{ task.sector.pk }}</span>
    {% else %}
    <span id="sector-current"></span>
    {% endif %}
    <span id="num-current">{{ task.number_of_assignees }}</span>
    <span id="limit-current">{{ task.datetime_limit|date:'Y-m-d\TH:i' }}</span>
    <span id="est-hours-current" >{{ task.hours_predict|stringformat:"f" }}</span>
    <span id="desc-current">{{ task.description }}</span>
    {% for assignee in task.assignees.all %}
        <span class="assignee">{{ assignee.pk }}</span>
    {% endfor %}
    {% for candidate in task.candidates.all %}
        <span class="candidate">{{candidate.pk}}</span>
    {% endfor %}
    {% for rejecter in task.rejected.all %}
        <span class="rejected">{{rejecter.pk}}</span>
    {% endfor %}
    <span id="tags-current">{% for tag in task.tags.all %}{{ tag }},{% endfor %}</span>
</div>
{% endif %}

<div class="modal" id="resolve-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="resolve-form" action="{% url 'activism:task_action' pk=task.pk action='resolved'%}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="modal-header">
                    <h3>Введите количество часов</h3>
                </div>
                <div id="resolve-modal-body" class="modal-body">
                    {% for user in task.assignees.all %}
                    <label for="id_hours_{{user.pk}}">{{user.get_full_name}}: </label>
                    <input class="form-control" id="id_hours_{{user.pk}}" min="0" name="hours_{{user.pk}}" step="any"
                           type="number" value="{{task.hours_predict|stringformat:'.1f'}}">
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="close-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="close-form" action="{% url 'activism:task_action' pk=task.pk action='close'%}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="modal-header">
                    <h3>Введите количество часов</h3>
                </div>
                <div id="close-modal-body" class="modal-body">
                    {% for entity in through %}
                    <label for="id_rh_{{entity.user.pk}}">{{entity.user.get_full_name}} (реальные): </label>
                    <input class="form-control real-hours" id="id_rh_{{entity.user.pk}}" min="0" step="any" type="number"
                           {% if entity.hours %}
                                value="{{entity.hours|stringformat:'.1f'}}"
                            {% else %}
                                value="{{entity.task.hours_predict|stringformat:'.1f'}}"
                            {% endif %}>
                    <label for="id_hours_{{entity.user.pk}}">{{entity.user.get_full_name}} (финальные, действие модификаторов):
                        <span class="final-hours">5</span> час.
                    </label>
                    <input class="form-control hidden final-hours-hidden" id="id_hours_{{entity.user.pk}}" min="0" name="hours_{{entity.user.pk}}" step="any"
                           type="number" value="{{entity.hours|stringformat:'.1f'}}">
                    <br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Подтверждение</h3>
            </div>
            <div class="modal-body">
                Это приведёт к необратимым изменениям. Вы уверены, что хотите это сделать?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="submit-modal">Да</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}