/* Task panels in labor */

.labor-pan {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/* Left panels on dashboard */

.dash-pan {
    margin-bottom: 10px;
}

.dash-pan .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.dash-pan .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Panel on Sector page */

.sevent-pan {
    margin-bottom: 10px;
}

.sevent-pan .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.sevent-pan .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.not-assigned {
    color: red;
}

.event-urgent {
    color: red;
}

.selector{
    font-size: 12px;
}

.deck{
    display:none !important;
}

/* Color labels in dashboard */

.sector-label {
    display: inline-block;
    width: 10px;
    margin-left: 3px;
    margin-right: 6px;
}

.sector-label.purple
{
    color: #9911dd;
}
.dash-panel:hover .sector-label.purple
{
    color: #bb22ee;
}
.sector-label.red
{
    color: #fa0000;
}
.dash-panel:hover .sector-label.red
{
    color: #ff4400;
}
.sector-label.yellow
{
    color: #eeff00;
}
.dash-panel:hover .sector-label.yellow
{
    color: #ffdd00;
}
.sector-label.green
{
    color: #00e900;
}
.dash-panel:hover .sector-label.green
{
    color: #00bb00;
}
.sector-label.blue
{
    color: #07A0DB;
}
.dash-panel:hover .sector-label.blue
{
    color: #0077cc;
}
.sector-label.grey
{
    color: #aaaaaa;
}
.dash-panel:hover .sector-label.grey
{
    color: #888888;
}