.dash-panel {
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dash-panel h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.not-assigned {
	color: red;
}

.event-urgent {
	color: red;
}

.selector{
	font-size: 12px;
}

.deck{
    display:none !important;
}