/* Task panels in labor */

.labor-pan {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

@media (min-width: 768px) {
    .labor-border {
        border: 1px solid #ddd;
        border-radius:5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 10px 10px 0px 10px;
        margin-bottom: 15px;
    }
}

.bottom-control {
    text-align: center;
    width: 100%;
}

/* Event panels in ./events */

.event-pan {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Left panels in dashboard */

.dash-pan {
    margin-bottom: 10px;
}

.dash-pan .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.dash-pan .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Panel on Sector page */

.sevent-pan {
    margin-bottom: 10px;
}

.sevent-pan .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.sevent-pan .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.not-assigned {
    color: red;
}

.event-urgent {
    color: red;
}

.selector{
    font-size: 12px;
}

.deck{
    display:none !important;
}

/* Color labels in dashboard */

.sector-label {
    display: inline-block;
    width: 15px;
    margin-left: 3px;
    margin-right: 6px;
}

/* Ratings */

.month-select {
    margin-bottom: 30px;
}

table.table-rating  > tbody > tr.rating1 {
    background-color: #F4DD93;
}

table.table-rating  > tbody > tr.rating1 > td {
    border-top: none;
}

table.table-rating  > tbody > tr > th {
    border-top: none;
}

table.table-rating  > tbody > tr.rating1:hover {
    background-color: #FFE877;
}

table.table-rating  > tbody > tr.rating2 {
    background-color: #eee;
}

table.table-rating  > tbody > tr.rating2:hover {
    background-color: #ddd;
}

table.table-rating  > tbody > tr.rating3 {
    background-color: #E2B392;
}

table.table-rating  > tbody > tr.rating3:hover {
    background-color: #E0A073;
}

table.table-rating > tbody > tr > td {
    vertical-align: middle;
}

table.table-rating > tbody > tr > td.td-small {
    font-size: 16px;
    text-align: center;
}

table.table-rating   a {
    color: #555555;
}

.expand  {
    cursor:pointer;
}

@media (min-width: 768px) {
    table.table-rating  > tbody > tr.rating1 {  
        font-size: 30px;
    }
    table.table-rating  > tbody > tr.rating2 {
        font-size: 25px;
    }
    table.table-rating  > tbody > tr.rating3 {
        font-size: 22px;
    }
    div.div-rating {
        border: none;
    }
    
    .rate1 {
        font-size: 25px;
    }
    .rate2 {
        font-size: 22px;
    }
    .rate3 {
        font-size: 20px;
    }
    
    table.table-rating  > tbody > tr > td {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    table.table-rating  > tbody > tr > td.table-rating-avatar {
        padding: 4px;
        padding-left: 20px;
        width: 90px;
    }

    table.table-rating  > tbody > tr > td.table-rating-rate {
        width: 90px;
        text-align: center;
    }
}

@media (max-width: 767px)  {
    div.div-rating {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* Comments for task */

div.comment {
    position: relative;
    min-height: 50px;
}

div.comment > div {
}

div.comment > div.comment-avatar {
    left:0;
    width: 50px;
    min-height: 50px;
    /*background-color: #77e;*/
    position: absolute;
    text-align: center;
    padding-top: 7px;
}

div.comment > div.comment-zone {
    position: relative;
    display: inline-block;
    left: 50px;
    right: 50px;    
    min-height: 50px;
    /*background-color: #e77;*/
    padding: 2px 0px 2px 10px;
}

div.comment  div.comment-date {
    /*color: #aaa;*/
    font-size: 12px;
}
div.comment .comment-pencil, div.comment .comment-delete {
    display: none;
}
div.comment:hover .comment-pencil, div.comment:hover .comment-delete {
    display: inline;
}

div.comment .comment-field {
    min-width: 300px;
    margin-top: 5px;
}
