a.fivt-logo {
	padding: 10px 15px;
}
a {
	text-decoration: none !important;
}

.navbar a {
	font-size: 16px;
}

div.tab-pane {
	padding: 10px
}

html {
  overflow-y: scroll;
}

.modal-open[style] {
   padding-right: 0px !important;
}

.namezone {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px;
	margin-bottom: 0px;
}

.pagezone {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding-top:15px;
    padding-bottom: 30px;
    padding-left:15px;
    padding-right:15px;
}

.nametext {
	margin: 0px;
}

#cell-for-vk-widget {
	padding: 0px;
}


/* Fix for jumbrotron on mobiles */
@media (max-width: 768px) {
  .jumbotron {
    padding: 2px 10px;
    font-size:12px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 40px;
}
#footer {
    background-color: #f5f5f5;
}

.container .credit {
    margin: 10px 0;
}

@media (max-width: 767px) {
    .pagezone {
        padding-top:15px;
        padding-bottom: 30px;
        padding-left:0px;
        padding-right:0px;
        border: none;
    }
}

