a.fivt-logo {
	padding: 10px 15px;
}

ul.navbar-form  li {
	float:left;
}

ul.navbar-form  li  a{
	padding:5px 15px;
}

.navbar a {
	font-size: 16px;
}

body {
	font-family:"RobotoRegular";
}

.jumbotron {
	font-family:"RobotoMedium";
	color: rgb(80, 80, 80);
}

.jumbotron  h3 {
	font-family:"RobotoMedium";
	color: rgb(50, 50, 50);
}

#cell-for-vk-widget {
	padding: 0px;
}

#gym-rules ul {
	-webkit-padding-start: 15px;
}

#gym-rules ol {
	-webkit-padding-start: 15px;
}

#washing-rules ul {
	-webkit-padding-start: 15px;
}

#washing-rules ol {
	-webkit-padding-start: 15px;
}

.dash-panel {
	cursor: pointer;
}

.not-assigned {
	color: red;
}

.event-urgent {
	color: red;
}

.event-name {
	margin: 0px;
}

.task-name {
	margin: 0px;
}

.just-a-line {
	margin: 4px 0px;
	border-color: #BBBBBB;
}

.param {
	color: #999999
}

.section {
	margin-top: 15px;
}

.section-name {
	color: #111111;
	font-family: "RobotoMedium"
}

.namezone {
	padding-top: 10px;
	padding-bottom: 10px;
}

img.round {
	width: 192px;
	height: 192px;
	border-radius: 96px;
	-webkit-border-radius: 96px;
	-moz-border-radius: 96px;
}

div.tab-pane {
	padding: 10px
}

html {
  overflow-y: scroll;
}

.modal-open[style] {
   padding-right: 0px !important;
}