a.fivt-logo {
	padding: 10px 15px;
}

ul.navbar-form  li {
	float:left;
}

ul.navbar-form  li  a{
	padding:5px 15px;
}

navbar {
	margin-bottom: 30px
}

img.round {
	width: 192px;
	height: 192px;
	border-radius: 96px;
	-webkit-border-radius: 96px;
	-moz-border-radius: 96px;
	/*background: url(/static/img/standart_avatar.png) no-repeat;*/
}

div.tab-pane{
	padding: 10px
}

/*html, body {
    min-height: 100%;
    height: 100%;
}

div.container {
    min-height: 100%;
    position: relative;
}

div.container div.navbar div.navbar-inner {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

div.container div.navbar div.navbar-inner .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.hero-unit {
    padding: 10px 20px 20px;
}

div.hero-unit p.title {
    font-weight: normal;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}

div.hero-unit p.title small {
    color: rgb(153, 153, 153);
    font-size: 25px;
}

.hero-unit-rules-text li {
    font-size: 14px;
    line-height: 1.3;
}

form {
    margin-bottom: 0;
}

.hero-unit-text {
    font-size: 14px;
    line-height: 1.3;
}

div.content ul, div.content ul li {
    margin: 0;
    padding: 0;
}

div.content li {
    list-style: none;
}

.alert p {
    margin: 0;
}

/*control_page*/

#result tbody tr {
    cursor: pointer;
}

.subtitle {
    font-weight: bold;
    margin-bottom: 2px;
}

div.leftbar {
    width: 300px;
    float: left;
    display: block;
    padding-bottom: 50px;
}

div.leftbar .block {
    width: 300px;
    min-height: 80px;
    display: block;
}

div.leftbar div.img {
    float: left;
    height: 80px;
}

div.leftbar div.img img {
    width: 50px;
    height: 50px;
}

div.leftbar div.options {
    margin-left: 80px;
    display: block;
}

div.userbar {
    margin-left: 300px;
}

div.userbar div.header {
    display: block;
    height: 80px;
}

div.userbar div.header div.img {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 0;
    line-height: 0;
}

div.userbar div.header div.options {
    margin-left: 80px;
}

#name {
    width: 100px;
}

.print {
    cursor: pointer;
}

.submitpic {
    cursor: pointer;
}

#ContOfAccom i {
    cursor: pointer;
}

#ChangeParametrsWashingTable td {
    text-align: center;
    vertical-align: middle;
}

#ChangeParametrsWashingTable th {
    text-align: center;
    vertical-align: middle;
}

/*gym*/

.icon-4x {
    font-size: 15em;
}

.icon {
    margin-bottom: 10px;
}

.status {
    display: block;
}

div.information_block {
    border-radius: 5px;
    border: 1px solid #EEEEEE;
}

div.information_block .head {
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(99%, rgb(242, 242, 242))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 99%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
    display: block;
    height: 30px;
    font-size: 25px;
    color: rgb(153, 153, 153);
}

div.information_block .content {
    padding: 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    width: 203px; /*619px/3*/
    display: inline-block;
}

div.information_block .content-bottom {
    padding: 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 0 solid #EEEEEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*profile*/

p.name {
    text-align: left;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: -5px;
}

p.name small {
    font-size: 20px;
    color: rgb(153, 153, 153);
}

hr {
    margin-top: 15px;
}

div.controlpanel {
    float: left;

}

div.controlpanel div.block {
    display: block;
    float: none;
    height: 30px;
    margin-top: 10px;
}

div.controlpanel div.block .img {
    float: left;
}

div.controlpanel div.block .title {
    padding-top: 5px;
    margin-left: 40px;
    display: block;
    float: none;
}

/*view_profile*/

div.admin_block {
    display: inline-block;
    width: 618px;
}

div.admin_block div.admin_panel {
    position: relative;
    width: 300px;
    height: 130px;
    float: left;
}

div.admin_block div.admin_panel div.img {
    float: left;
    display: block;
    width: 80px;
    height: 100px;
}

div.admin_block div.admin_panel div.img img {
    height: 50px;
}

div.admin_block div.admin_panel .options {
    display: block;
    margin-left: 80px;
    height: 100px;
}

.checkbox {
    width: 300px;
}

.datepicker {
    z-index: 1151;
}

footer {
    background-color: RGB(238, 238, 238);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    color: rgb(255, 102, 0);
    padding-top: 10px;
    width: 940px;
    height: 50px;
    float: none;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a {
    color: rgb(153, 153, 153);
    text-decoration: underline;
}

#block-content {
    padding-bottom: 50px;
    display: block;
}

#vk_groups {
    padding-bottom: 20px;
}
*/